<style type="text/css">
    .form-field-custom{
        font-weight:bold;
        font-size:14px;
    }

    body{
        -webkit-text-size-adjust: 100%;
        text-size-adjust: 100%;
    }

    .form-group{
        display: flex;
        align-items: center;
    }

    .form-label{
        width: 15%
    }

    .permissionWrapper{
        margin: 15px 0;
    }

    .perHead{
        font-size: 18px;
        padding: 10px 0;
    }

    #perm{
        padding: 10px 40px;
        display: flex;
        flex-wrap: wrap;
    }
    #perm >div{
        width: 50%;
        padding: 8px;
    }

</style>


<div id="success-div" style="margin-top: 20px; padding: 10px;display: none;"><div id="err-info" class="alert alert-success" style="padding: 30px;font-size: 18px;
    "><strong>Congratulations!</strong> <span id="success-text"></span>
    
        </div>
    
        <button class="btn-outline-success btn-sm mr-1" onclick=redirectToViewCourses()>View courses</button>
    
        </div>

<div id="main-form-div">
    <div class="row">
        <div class="col-xl-12">
            <div id="panel-1" class="panel">
                <div class="panel-hdr">
                    <h2 id="main_title">
                        Add Course
                    </h2>
                    <div class="panel-toolbar">
                        <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"></button>
                        <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"></button>
                        <button class="btn btn-panel" data-action="panel-close" data-toggle="tooltip" data-offset="0,10" data-original-title="Close"></button>
                    </div>
                </div>
                <div class="panel-container show">
                    <div class="panel-content">


                        <div class="col-lg-9">
                            <div class="p-20">
                                <div id="uploadForm">


                                    <div class="form-group">
                                        <label class="form-label" for="title">Title</label>
                                        <input type="text" id="title" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label" for="desc">Description</label>
                                        <input type="text" id="desc" class="form-control">
                                    </div>

                                    <div class="form-group">
                                        <label class="form-label" for="pic">Course Thumbnail</label>
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" name="image-file" id="image-file" accept=".jpg, .jpeg, .png, .gif">
                                            <label class="custom-file-label" for="image-file">Upload Image</label>
                                        </div>
                                    </div>

                                    

                                    <div class="emailCTA">
                                        <button class="btn  btn-small btn-success" onclick="addCourse()" >Save</button>
                                    </div>

                                </div>
                            </div>
                        </div>



                    </div>
                    <div id="err-div" style="display: none;margin-top:20px;"></div>



                    <div id="progress-bar-div" style="margin-top:20px;margin-bottom:20px;width:100%;display:none;" class="progress progress-striped active">
                        <div id="progress-bar" class="progress-bar bg-success-500 bg-danger-gradient" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">

                        </div>
                    </div>








                </div>
            </div>
        </div>
    </div>
</div>


</div>


<script type="text/javascript">

    var baseUrl = '<?=$baseUrl?>';
    var mode = "{{mode}}";
    var currentCustomerData = {};

    $(document).ready(function() {

        function initProgressBar() {
            document.getElementById("progress-bar").style.width = '20%';
            $("#progress-bar-div").show();

        }

        function incBar() {
            var currWidth = $("#progress-bar").width();
            $("#progress-bar").width(currWidth + 50);
        }

        if(mode=="edit"){
            currentCustomerData = JSON.parse('{{ user|escapejs }}');
            console.log('Data-',currentCustomerData);
            setEditMode(currentCustomerData);
        }

    });

    function redirectToViewCourses(){
        window.location='#viewCourses';
    }

    function setEditMode(customerData){
        $("#main_title").html('Edit User Data');

        $("#mobile").val(customerData["mobile_number"]);
        $("#pass").val(customerData["password"]);
        $("#name").val(customerData["display_name"]);
        $("#userName").val(customerData["user_name"]);
        $("#email").val(customerData["email_id"]);


        $('#perm input:checked').each(function() {
            $('input:checkbox').attr('checked',false);
        });

        let permissions = customerData["permissions"];
        for(let key in permissions){
            if(permissions[key] == 1){
                $("#"+key).attr("checked", true);
            }
        }
    }

    function setError(domId,msg){
        $("#"+domId+"-error").html(msg);
        $("#"+domId+"-err-icon").html('<i class="glyphicon glyphicon-remove-circle"></i>');
        $("#"+domId+"-group").addClass('has-error');
    }

    function setSuccess(domId){
        $("#"+domId+"-err-icon").html('<i class="fa fa-check"></i>');

        $("#"+domId+"-group").removeClass('has-error');
        $("#"+domId+"-group").addClass('has-success');
    }

    function initProgressBar()
    {

        document.getElementById("progress-bar").style.width='20%';
        $("#progress-bar-div").show();

    }

    function incBar()
    {
        var currWidth = $("#progress-bar").width();
        $("#progress-bar").width(currWidth+50);
    }

    var lock = false;
    function addCourse(){
        if(!($('#title').val())){
            setError("title");
            $("#err-div").html('<div id="err-info" class="alert alert-danger"><button type="button" class="close" data-dismiss="alert">×</button><strong>Error!</strong> <span id="err-text">Please fill Title ! </span></div>');
            $("#err-div").show();

            return;
        }

        setSuccess("title");

        if(!($('#desc').val())){
            setError("desc");
            $("#err-div").html('<div id="err-info" class="alert alert-danger"><button type="button" class="close" data-dismiss="alert">×</button><strong>Error!</strong> <span id="err-text">Please fill Description ! </span></div>');
            $("#err-div").show();

            return;
        }

        setSuccess("desc");


        lock = true;

        initProgressBar();

        $("#err-div").html('');
        var barInterval = setInterval('incBar()',25);
        var title = document.getElementById('title').value;
        var description = document.getElementById('desc').value;
        var imageFile = document.getElementById('image-file').files[0];

        let formData = new FormData();
        formData.append('title', title);
        formData.append('description', description);
        formData.append('image', imageFile);

        let data = {'title':title, 'description':description,'image':imageFile};
        if(mode=="edit"){
            editUniqueId = currentCustomerData["unique_id"];
            editId = currentCustomerData["id"];
            is_active = currentCustomerData["is_active"];
            ct = currentCustomerData["ct"];
            data['unique_id'] = editUniqueId;
            data["id"] = editId;
            data["is_active"] = is_active;
            data["ct"] = ct;
        }
        console.log(formData);
        $.ajax({
            type : 'POST',
            url : 'upsertCourse/',
            data : formData,
            processData: false,
            contentType: false,
            success :function(data)
            {
                lock=false;
                clearInterval(barInterval);
                $("#progress-bar").css({"width":"100%"});

                console.log('Success', data);
                if(data['result']=='SUCCESS')
                {
                    $("#success-div").show();
                    if(mode == "edit"){
                        $("#success-text").html("Course edited Successfully");
                    }else{
                        $("#success-text").html("Course added Successfully");
                    }

                    $("#main-form-div").hide();
                    return;
                }
                else
                {

                    $("#err-div").html('<div id="err-info" class="alert alert-danger"><button type="button" class="close" data-dismiss="alert">×</button><strong>Error!</strong> <span id="err-text">'+result['info']+'</span></div>');
                    $("#err-div").show();
                    $("#progress-bar-div").hide();

                    return;
                }


            },
            error : function(data)
            {
                lock=false;
                clearInterval(barInterval);

                var message = data.responseText ? data.responseText : 'some error occured while saving, please contact administrator !';
                $("#err-div").html('<div id="err-info" class="alert alert-danger"><button type="button" class="close" data-dismiss="alert">×</button><strong>Error!</strong> <span id="err-text">'+message+'</span></div>');
                $("#err-div").show();
                $("#progress-bar-div").hide();

                return;
            }

        });



    }

    function validateEmail(email) {
        // http://stackoverflow.com/a/46181/11236

        var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return re.test(email);
    }

    var imagelock = false;
    function uploadImage()
    {

        if(imagelock==true)
            return;

        $("#image-err-div").html('');
        $("#image-err-div").hide();

        if($("#image-file").val()=="")
        {
            $("#image-err-div").html('<div id="err-info" class="alert alert-danger"><button type="button" class="close" data-dismiss="alert">×</button><strong>Error!</strong> <span id="err-text">Please select a file to upload!</span></div>');
            $("#image-err-div").show();

            return;
        }

        if(checkFileExtension("image-file")==false)
        {
            $("#image-err-div").html('<div id="err-info" class="alert alert-danger"><button type="button" class="close" data-dismiss="alert">×</button><strong>Error!</strong> <span id="err-text">Please select a image type file to upload!</span></div>');
            $("#image-err-div").show();

            return;
        }

        imagelock = true;
        initImageProgressBar();
        $("#image-err-div").html('');
        barImageInterval = setInterval('incImageBar()',25);
        $("#image-upload-form").submit();

    }


    function checkFileExtension(fileObjId)
    {
        var fup = document.getElementById(fileObjId);
        var fileName = fup.value;

        var ext = fileName.substring(fileName.lastIndexOf('.') + 1);
        if(ext == "jpeg" || ext == "jpg" || ext == "JPG" || ext == "JPEG" || ext == "png" || ext == "PNG" || ext == "gif" || ext == "GIF" || ext == "pdf"|| ext == "PDF")
        {
            return true;
        }
        else
        {
            return false;
        }
    }




</script>


