<link rel="stylesheet" media="screen, print" href="/static/pharma_gyan/css/summernote.css">
<script src="/static/pharma_gyan/js/summernote.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uuid/8.3.2/uuid.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-bootstrap-4/bootstrap-4.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@40,400,0,0" />
<style type="text/css">
  .form-field-custom {
    font-weight: bold;
    font-size: 14px;
    display: flex; /* Flexbox to align items */
    align-items: center; /* Center items vertically */
}
.form-field-custom .end-item {
    margin-left: auto; /* Push the item to the end */
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 40;
}

body {
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

.form-group {
    display: flex;
    align-items: center;
}

.form-label {
    width: 15%;
}

.form-group input {
    flex-grow: 1; /* Allow the input to grow and take available space */
}

.permissionWrapper {
    margin: 15px 0;
}

.perHead {
    font-size: 18px;
    padding: 10px 0;
}

#perm {
    padding: 10px 40px;
    display: flex;
    flex-wrap: wrap;
}

#perm > div {
    width: 50%;
    padding: 8px;
}

.add {
    border-style: dashed;
    padding: 40px 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.pill {
    display: inline-block;
    padding: 0.5rem 1rem;
    margin: 0.25rem;
    background-color: #007bff;
    color: white;
    border-radius: 1rem;
}

.add-button {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #28a745;
    color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    margin: 0.25rem;
}

.emailCTA {
    display: flex;
    padding: inherit;
    align-items: center; /* Center items vertically */
    position: relative; /* Position for the tooltip */
}

.chapter-icon {
    cursor: pointer;
    margin-right: 10px; /* Space between the SVG and text */
    width: 60px;
    height: 60px;
    fill: #1ec9b7;
}
.end-item {
    cursor: pointer;
}

.tooltip {
    visibility: hidden; /* Initially hidden */
    font-size: 12px; /* Smaller font size for the tooltip */
    font-weight: bold; /* Make the text bold */
    color: #000000; /* Black text color */
    background-color: #ffffff; /* Background color for the tooltip */
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: -35px; /* Position below the SVG */
    left: 0; /* Align to the left of the SVG */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Optional shadow for better visibility */
    z-index: 1; /* Ensure the tooltip is above other elements */
    transition: visibility 0.2s, opacity 0.2s; /* Smooth transition */
    opacity: 0; /* Initially transparent */
}

.chapter-icon:hover + .tooltip {
    visibility: visible; /* Show tooltip on hover */
    opacity: 1; /* Fully opaque */
}

/* Optional: hover effect for better UX */
.chapter-icon:hover {
    fill: #17a2b8;
}

.tooltip-left {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip-left .tooltiptext {
  visibility: hidden;
  width: 120px;
  font-size: 12px; /* Smaller font size for the tooltip */
  font-weight: bold;
  background-color: #ffffff;
  color: #000000;
  text-align: center;
  padding: 4px 0;
  border-radius: 6px;
  transition: visibility 0.2s, opacity 0.2s;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  /* Position the tooltip text - see examples below! */
  top: -5px;
  right: 105%;
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip-left:hover .tooltiptext {
  visibility: visible;
}
</style>


<div id="success-div" style="margin-top: 20px; padding: 10px;display: none;"><div id="err-info" class="alert alert-success" style="padding: 30px;font-size: 18px;
    "><strong>Congratulations!</strong> <span id="success-text"></span>

        </div>

        </div>

<div id="main-form-div">
    <div class="row">
        <div class="col-xl-12">
            <div id="panel-1" class="panel">
                <div class="panel-hdr">
                    <h2 id="main_title">

                    </h2>
                </div>
                <div class="panel-container show">
                    <div class="panel-content">
                        <div class="emailCTA" style="display: flex; padding: inherit;">
                            <svg class="chapter-icon" xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 -960 960 960" width="48px" fill="#1ec9b7" onclick="addChapter()">
                                <path d="M180-120q-24 0-42-18t-18-42v-600q0-24 18-42t42-18h394v60H180v600h600v-394h60v394q0 24-18 42t-42 18H180Zm141-157v-60h319v60H321Zm0-127v-60h319v60H321Zm0-127v-60h319v60H321Zm371-73v-88h-88v-60h88v-88h60v88h88v60h-88v88h-60Z"/>
                            </svg>
                            <span class="tooltip">Add Chapter</span>
                        </div>

                        <div id="accordion-container" class="accordion accordion-hover col-lg-12" style="margin-top: 15px;">
                            <!-- Dynamic accordion items will be inserted here -->
                        </div>

                        <div class="emailCTA" style="display: flex; padding: inherit;">
                            <button class="btn  btn-small btn-success" onclick="saveTopic()" style="width: 10%; height: 45px;">Save</button>
                        </div>

                    </div>
                    <div id="err-div" style="display: none;margin-top:20px;"></div>



                    <div id="progress-bar-div" style="margin-top:20px;margin-bottom:20px;width:100%;display:none;" class="progress progress-striped active">
                        <div id="progress-bar" class="progress-bar bg-success-500 bg-danger-gradient" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script type="text/javascript">

    var baseUrl = '<?=$baseUrl?>';
    var mode = "{{mode}}";
    var autoSave = $('#autoSave');
    var interval;
    var timer = function(currentChapterId){
    interval = setInterval(function(){
            //start slide...
            if (true)
            saveToLocal(currentChapterId);

            clearInterval(interval);
        }, 3000);
    };

    //save
var saveToLocal = function(currentChapterId) {
    console.log('currentChapterId', currentChapterId);
    const topic_chapters = JSON.parse(localStorage.getItem('topic_chapters'));
    const chapter = topic_chapters.chapters.find(c => c.unique_id === currentChapterId);

    // Save content
    chapter.content = $(`#saveToLocal-${chapter.unique_id}`).summernote("code");
    console.log('chapter content', chapter.content);

    // Save mark as free as integer (0 or 1)
    const mark_as_free = $(`#markAsFree-${chapter.unique_id}`).is(':checked') ? 1 : 0;
    chapter.mark_as_free = mark_as_free;
    console.log('chapter mark as free', chapter.mark_as_free);

    // Update localStorage
// <!--    localStorage.setItem('topic_chapters', JSON.stringify(topic_chapters));-->
        localStorage.setItem('topic_chapters', JSON.stringify(topic_chapters, (key, value) => {
        // Convert mark_as_free to integer before stringify
        if (key === 'mark_as_free') {
            return Number(value);
        }
        return value;
    }));
    console.log("Saved to localStorage");
}


    function addChapter() {
        const topic_chapters = JSON.parse(localStorage.getItem('topic_chapters'));
        let newUuid = uuid.v4().replace(/-/g, '');
        const chapter = {
            'unique_id': newUuid,
            'title': 'New Chapter',
            'content': '',
            'index': topic_chapters.chapters.length,
            'mark_as_free': 0
        };
        topic_chapters.chapters.push(chapter);
        localStorage.setItem('topic_chapters', JSON.stringify(topic_chapters));

        const chapters_positions = JSON.parse(localStorage.getItem('chapters_positions')) || [];
        chapters_positions.push(newUuid);
        localStorage.setItem('chapters_positions', JSON.stringify(chapters_positions));
        console.log("chapter added");
        loadChaptersFromLocalStorage();
    }

    function deleteChapter(chapter_unique_id) {
        const topic_chapters = JSON.parse(localStorage.getItem('topic_chapters'));
        if (topic_chapters && topic_chapters.chapters) {
            const chapterIndex = topic_chapters.chapters.findIndex(c => c.unique_id === chapter_unique_id);
            if (chapterIndex !== -1) {
                topic_chapters.chapters.splice(chapterIndex, 1);
                localStorage.setItem('topic_chapters', JSON.stringify(topic_chapters));
                console.log(`Chapter with ID ${chapter_unique_id} has been deleted.`);
            } else {
                console.log(`Chapter with ID ${chapter_unique_id} not found.`);
            }
        } else {
            console.log('No chapters found in localStorage.');
        }

        const chapters_positions = JSON.parse(localStorage.getItem('chapters_positions')) || [];
        const chIndex = chapters_positions.findIndex(c => c === chapter_unique_id);
        chapters_positions.splice(chIndex, 1);
        localStorage.setItem('chapters_positions', JSON.stringify(chapters_positions));
        console.log("chapter removed");
        loadChaptersFromLocalStorage();
    }
   // To preview the chapter
    function previewChapter(chapter_unique_id){
        console.log('preview',chapter_unique_id);
        const topic_chapters = JSON.parse(localStorage.getItem('topic_chapters'));
        const chapterIndex = topic_chapters.chapters.findIndex(c => c.unique_id === chapter_unique_id);
        const chapter=topic_chapters.chapters[chapterIndex];
        if(chapter)
        {
            const data = {
                uniqueId: null, // Set uniqueId to null
                title: chapter.title,
                content: chapter.content
            };
       

        $.ajax({
            type : 'POST',
            url : 'previewChapterContent/',
            contentType: 'application/json',
            data: JSON.stringify(data),
            success :function(response)
            {
                console.log('Success', response);
                return $('#main-form-div').html(response);
            }
             ,
                error: function(error) {
                    console.error('Error:', error);
                }}
            );
        }
        else{
            // console.log(`Chapter with ID ${chapter_unique_id} not found.`); 
            $("#err-div").html(`<div id="err-info" class="alert alert-danger"><button type="button" class="close" data-dismiss="alert">×</button><strong>Error!</strong> <span id="err-text">Chapter with ID ${chapter_unique_id} not found.</span></div>`);
            $("#err-div").show();
            return;
   
        }
    }


    function handleChapterTitleInputChange(event, chapter_unique_id) {
        const title = event.target.value;
        const titleBanner = document.getElementById(`titleBanner-${chapter_unique_id}`);
        console.log('banner div', titleBanner);
        titleBanner.innerHTML = title;
        const topic_chapters = JSON.parse(localStorage.getItem('topic_chapters'));
        const chapter = topic_chapters.chapters.find(c => c.unique_id === chapter_unique_id);
        chapter.title = title;
        localStorage.setItem('topic_chapters', JSON.stringify(topic_chapters));
    }

    function handleMarkAsFreeChange(event, chapter_unique_id) {
    const markAsFree = event.target.checked;
    console.log('mark as free edit',markAsFree);
    const markAsFree_new =markAsFree ? 1 :0;
    const topic_chapters = JSON.parse(localStorage.getItem('topic_chapters'));
    const chapter = topic_chapters.chapters.find(c => c.unique_id === chapter_unique_id);
    chapter.mark_as_free = markAsFree_new;
    console.log('mark as free edit after change',chapter.mark_as_free);
    // localStorage.setItem('handleMarkAsFreeChange topic_chapters', JSON.stringify(topic_chapters));
    localStorage.setItem('topic_chapters', JSON.stringify(topic_chapters, (key, value) => {
        if (key === 'mark_as_free') {
            return Number(value); // Convert mark_as_free to integer before stringify
        }
        return value;
    }));
}

    function loadChaptersFromLocalStorage(data) {
        const topic_chapters = JSON.parse(localStorage.getItem('topic_chapters'));
        let chapters_positions = JSON.parse(localStorage.getItem('chapters_positions')) || [];

        console.log('topic_chapters_loadedFromstorage', topic_chapters);
        if (!topic_chapters) return;

        var title = topic_chapters.title;
        document.getElementById('main_title').innerHTML = `Topic - ${title}`;
        const markAsFreeCheckbox = document.getElementById('mark_as_free');
        if (markAsFreeCheckbox) {
            markAsFreeCheckbox.checked = mark_as_free == 1;
        }
        
        const accordionContainer = document.getElementById('accordion-container');
        accordionContainer.innerHTML = ''; // Clear the existing content

        var chapters = topic_chapters.chapters;
        if (!chapters) return;

        if (!chapters_positions || chapters_positions.length === 0) {
            chapters_positions = [];
            chapters.forEach(c => { chapters_positions.push(c.unique_id) });
            localStorage.setItem('chapters_positions', JSON.stringify(chapters_positions));
        }
        console.log(chapters_positions);
        chapters_positions.forEach(unique_id => {
            let chapter = chapters.find(c => c.unique_id === unique_id);
            console.log(unique_id,chapter,chapter.mark_as_free);
            let newAccordion = document.createElement('div');
            newAccordion.className = 'card';
            newAccordion.innerHTML = `
                <div class="card-header">
                    <a href="javascript:void(0);" class="card-title" data-toggle="collapse" data-target="#js_demo_accordion-${chapter.unique_id}" aria-expanded="false">
                        <div id = "titleBanner-${chapter.unique_id}">${chapter.title}</div>
                        <span class="ml-auto">
                            <span class="collapsed-reveal">
                                <i class="fal fa-chevron-up fs-xl"></i>
                            </span>
                            <span class="collapsed-hidden">
                                <i class="fal fa-chevron-down fs-xl"></i>
                            </span>
                        </span>
                    </a>
                </div>
                <div id="js_demo_accordion-${chapter.unique_id}" class="collapse" data-parent="#accordion-container">
                    <div class="card-body" id="card-body-${chapter.unique_id}">
                        <div class="form-group col-xl-12">
                            <label class="form-label col-xl-1" for="title-${chapter.unique_id}">Title</label>
                            <input type="text" id="title-${chapter.unique_id}" value="${chapter.title}" class="form-control col-xl-6">
                            <button onclick="deleteChapter('${chapter.unique_id}')" class="btn btn-small btn-danger col-xl-1" style="margin-left: auto;">Delete</button>
                        </div>
                        <h3 style="display: flex; justify-content: center;">
                            <div class="col-xl-12">
                                <div id="panel-1" class="panel">
                                    <div class="panel-hdr">
                                        <h2>
                                            Enter the Chapter Content here
                                        </h2>
                                        <div class="panel-toolbar">
                                            <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"></button>
                                            <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"></button>
                                            <button class="btn btn-panel" data-action="panel-close" data-toggle="tooltip" data-offset="0,10" data-original-title="Close"></button>
                                        </div>
                                    </div>
                                    <div class="panel-container show">
                                        <div class="panel-content">
                                            <div class="js-summernote-${chapter.unique_id} summernote" id="saveToLocal-${chapter.unique_id}"></div>
                                        </div>

                                    </div>

                                </div>
                                <div class="d-flex justify-content-between align-items-center mt-3">
                                    <div class="custom-control custom-checkbox form-field-custom">
                                        <input type="checkbox" class="custom-control-input mx-2" id="markAsFree-${chapter.unique_id}" value="0" onchange="handleMarkAsFreeChange(event, '${chapter.unique_id}')">
                                        <label class="custom-control-label" for="markAsFree-${chapter.unique_id}">Mark as free</label>
                                    </div>
                                    <div class="end-item tooltip-left" onclick="previewChapter('${chapter.unique_id}')"data-toggle="tooltip" data-placement="top" data-original-title="Preview">
                                        <svg id="preview-chapter-btn" xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="40px" fill="#5f6368">
                                            <path d="M212.31-140q-29.83 0-51.07-21.24Q140-182.48 140-212.31v-535.38q0-29.83 21.24-51.07Q182.48-820 212.31-820h535.38q29.83 0 51.07 21.24Q820-777.52 820-747.69v535.38q0 29.83-21.24 51.07Q777.52-140 747.69-140H212.31Zm0-60h535.38q5.39 0 8.85-3.46t3.46-8.85V-680H200v467.69q0 5.39 3.46 8.85t8.85 3.46ZM480-300q-73.54 0-131.88-38.92-58.35-38.93-86.2-101.08 27.85-62.15 86.2-101.08Q406.46-580 480-580q73.54 0 131.88 38.92 58.35 38.93 86.2 101.08-27.85 62.15-86.2 101.08Q553.54-300 480-300Zm0-47.69q51.77 0 95.27-24.39 43.5-24.38 70.65-67.92-27.15-43.54-70.65-67.92-43.5-24.39-95.27-24.39-51.77 0-95.27 24.39-43.5 24.38-70.65 67.92 27.15 43.54 70.65 67.92 43.5 24.39 95.27 24.39Zm0-92.31Zm.09 52.31q21.83 0 37.02-15.29 15.2-15.28 15.2-37.11t-15.29-37.02q-15.28-15.2-37.11-15.2t-37.02 15.29q-15.2 15.28-15.2 37.11t15.29 37.02q15.28 15.2 37.11 15.2Z" />
                                        </svg>
                                        <span class="tooltiptext">Preview</span>
                                    </div>
                                   
                                </div>                
                            </div>
                        </h3>
                    </div>
                </div>`;

            accordionContainer.appendChild(newAccordion);
            const inputElement = document.getElementById(`title-${chapter.unique_id}`);
            inputElement.addEventListener('input', (event) => handleChapterTitleInputChange(event, chapter.unique_id));
            const markAsFreeCheckbox = document.getElementById(`markAsFree-${chapter.unique_id}`);
            markAsFreeCheckbox.checked = chapter.mark_as_free;

    function uploadVideos(files) {
        for (let i = 0; i < files.length; i++) {
            let file = files[i];

            // Check if filename is valid (only alphanumeric, underscores, dots, and dashes)
            if (!validateFilename(file.name)) {
                Swal.fire({ text: 'Invalid filename: Only alphanumeric characters, underscores, dots, and dashes are allowed.', });
                console.log("Invalid filename:", file.name);
                continue; // Skip uploading this file
            }

            // Check file size (max 50MB for videos)
            if (file.size > 5 * 1024 * 1024) {
                Swal.fire({ text: "File size exceeds 50MB limit." });
                console.log("File size exceeds 5MB limit:", file.name);
                continue; // Skip uploading this file
            }

            let data = new FormData();
            data.append("video-file", file);

            $.ajax({
                url: 'addMedia/',  // Check this URL path
                cache: false,
                contentType: false,
                processData: false,
                data: data,
                type: "POST",
                success: function (response) {
                    if (response.result === 'success') {
                        let videoNode = $('<video controls>')
                            .attr('src', response.data.file_urls[0])
                            .css('width', '50%'); // Set initial width to 50%
                        $(`.js-summernote-${chapter.unique_id}`).summernote('insertNode', videoNode[0]);

                        // Manage multiple URLs in localStorage
                        var uploadedVideoURLs_chapter = JSON.parse(localStorage.getItem('uploadedVideoURLs_chapter')) || [];
                        response.data.file_urls.forEach(url => {
                            uploadedVideoURLs_chapter.push(url);
                        });
                        localStorage.setItem('uploadedVideoURLs_chapter', JSON.stringify(uploadedVideoURLs_chapter));
                    } else {
                        console.log("Video upload failed");
                    }
                },
                error: function (xhr, textStatus, errorThrown) {
                    console.log("Video upload failed:", textStatus, errorThrown);
                }
            });
        }
    }

        var videoButton = function (context) {
        var ui = $.summernote.ui;

        // create button
        var button = ui.button({
            contents: '<i class="note-icon-video"/>',
            tooltip: 'Upload Video',
            click: function () {
                var fileInput = $('<input type="file" accept="video/*" multiple>');
                fileInput.trigger('click');

                fileInput.on('change', function () {
                    var files = this.files;
                    uploadVideos(files);
                });
            }
        });

        return button.render();   // return button as jquery object
    };

    // Function to handle image upload
    function uploadImages(files) {
        for (let i = 0; i < files.length; i++) {
            let file = files[i];

            // Check if filename is valid (only alphanumeric, underscores, dots, and dashes)
            if (!validateFilename(file.name)) {
                 Swal.fire({ text: 'Invalid filename: Only alphanumeric characters, underscores, dots, and dashes are allowed.',  });
                console.log("Invalid filename:", file.name);
                continue; // Skip uploading this file
            }

            // Check file size (max 5MB)
            if (file.size > 5 * 1024 * 1024) {
                Swal.fire({ text: "File size exceeds 5MB limit."});
                console.log("File size exceeds 5MB limit:", file.name);
                continue; // Skip uploading this file
            }

            let data = new FormData();
            data.append("image-file", file);

            $.ajax({
                url: 'addMedia/',  // Check this URL path
                cache: false,
                contentType: false,
                processData: false,
                data: data,
                type: "POST",
                success: function (response) {
                    if (response.result === 'success') {
                        let imgNode = $('<img>').attr('src', response.data.file_urls[0]).css('width', '50%'); // Set initial width to 50%
                        $(`.js-summernote-${chapter.unique_id}`).summernote('insertNode', imgNode[0]);

                        // Manage multiple URLs in localStorage
                        var uploadedImageURLs_chapter = JSON.parse(localStorage.getItem('uploadedImageURLs_chapter')) || [];
                        response.data.file_urls.forEach(url => {
                            uploadedImageURLs_chapter.push(url);
                        });
                        localStorage.setItem('uploadedImageURLs_chapter', JSON.stringify(uploadedImageURLs_chapter));
                    } else {
                        console.log("Image upload failed");
                    }
                },
                error: function (xhr, textStatus, errorThrown) {
                    console.log("Image upload failed:", textStatus, errorThrown);
                }
            });
        }
    }
      function validateFilename(filename) {
        return /^[a-zA-Z0-9_.-]*$/.test(filename);
    }
            var imageButton = function (context) {
            var ui = $.summernote.ui;

            // create button
            var button = ui.button({
                contents: '<i class="note-icon-picture"/>',
                tooltip: 'Upload Image',
                click: function () {
                    var fileInput = $('<input type="file" accept="image/*" multiple>');
                    fileInput.trigger('click');

                    fileInput.on('change', function () {
                        var files = this.files;
                        uploadImages(files);
                    });
                }
            });

            return button.render();   // return button as jquery object
        };

            //init default
            console.log(`.js-summernote-${chapter.unique_id}`, chapter.content);
			$(`.js-summernote-${chapter.unique_id}`).summernote({
				height: 500,
				tabsize: 2,
				placeholder: "Type here...",
				dialogsFade: true,
				toolbar: [
					['style', ['style']],
    				['font', ['strikethrough', 'superscript', 'subscript']],
					['font', ['bold', 'italic', 'underline', 'clear']],
					['fontsize', ['fontsize']],
					['fontname', ['fontname']],
					['color', ['color']],
					['para', ['ul', 'ol', 'paragraph']],
					['height', ['height']]
					['table', ['table']],
					['insert', ['customImage','customVideo']],
					['view', ['fullscreen', 'codeview', 'help']]
				],
				 buttons:{
                    customImage: imageButton,
                     customVideo: videoButton
				 },
				callbacks: {
					//restore from localStorage
					onInit: function(e) {
						$(`.js-summernote-${chapter.unique_id}`).summernote("code", chapter.content);
					},
					 onImageUpload: function (files) {
                        uploadImages(files);
                    },
					onChange: function(contents, $editable) {
						clearInterval(interval);
						timer(chapter.unique_id);
					}
				}
			});
        });
        localStorage.setItem('chapters_positions', JSON.stringify(chapters_positions));

        // Initialize Sortable
        const sortable = new Sortable(accordionContainer, {
            animation: 150,
            handle: '.card-header',
            ghostClass: 'sortable-ghost',
            onEnd: function (evt) {
                console.log('Item moved from index', evt.oldIndex, 'to', evt.newIndex);
                const chapters_positions = JSON.parse(localStorage.getItem('chapters_positions'));
                if (chapters_positions) {
                    const temp = chapters_positions[evt.oldIndex];
                    chapters_positions[evt.oldIndex] = chapters_positions[evt.newIndex];
                    chapters_positions[evt.newIndex] = temp;
                    localStorage.setItem('chapters_positions', JSON.stringify(chapters_positions));
                }
            },
        });

			//load emojis
			$.ajax({
				url: 'https://api.github.com/emojis',
				async: false
			}).then(function (data) {
				window.emojis = Object.keys(data);
				window.emojiUrls = data;
			});

			//init emoji example
			$(".js-hint2emoji").summernote({
				height: 100,
				toolbar: false,
				placeholder: 'type starting with : and any alphabet',
				hint: {
					match: /:([\-+\w]+)$/,
					search: function (keyword, callback) {
						callback($.grep(emojis, function (item) {
							return item.indexOf(keyword) === 0;
						}));
					},
					template: function (item) {
						var content = emojiUrls[item];
						return '<img src="' + content + '" width="20" /> :' + item + ':';
					},
					content: function (item) {
						var url = emojiUrls[item];
						if (url) {
							return $('<img />').attr('src', url).css('width', 20)[0];
						}
						return '';
					}
				}
			});

			//init mentions example
			$(".js-hint2mention").summernote({
				height: 100,
				toolbar: false,
				placeholder: "type starting with @",
				hint: {
					mentions: ['jayden', 'sam', 'alvin', 'david'],
					match: /\B@(\w*)$/,
					search: function (keyword, callback) {
						callback($.grep(this.mentions, function (item) {
							return item.indexOf(keyword) == 0;
						}));
					},
					content: function (item) {
						return '@' + item;
					}
				}
			});

    }

    $(document).ready(function() {
        var currentTopicData = JSON.parse(localStorage.getItem("topic_chapters"));
        console.log('localstorage', currentTopicData);
        if (!currentTopicData) {
            currentTopicData = JSON.parse('{{ topic|escapejs }}');
            console.log('from api', currentTopicData);
            localStorage.setItem('topic_chapters', JSON.stringify(currentTopicData));
            chapters_positions = [];
            currentTopicData.chapters.forEach(c => { chapters_positions.push(c.unique_id) });
            localStorage.setItem('chapters_positions', JSON.stringify(chapters_positions));
        }

        function initProgressBar() {
            document.getElementById("progress-bar").style.width = '20%';
            $("#progress-bar-div").show();

        }

        function incBar() {
            var currWidth = $("#progress-bar").width();
            $("#progress-bar").width(currWidth + 50);
        }

        loadChaptersFromLocalStorage();
    });

    var lock = false;
    function saveTopic(){
        $("#err-div").html('');
        var barInterval = setInterval('incBar()',25);

        var topic_chapters = JSON.parse(localStorage.getItem('topic_chapters')) || [];
        console.log('topic_chapters=>',topic_chapters);
        if (topic_chapters.chapters.length == 0) {
            $("#err-div").html(`<div id="err-info" class="alert alert-danger"><button type="button" class="close" data-dismiss="alert">×</button><strong>Error!</strong> <span id="err-text">Please add one or more chapters ! </span></div>`);
            $("#err-div").show();
            return;
        }

        var chapters_positions = JSON.parse(localStorage.getItem('chapters_positions'));
        for (let idx = 0; idx < chapters_positions.length; idx++) {
            chap = topic_chapters.chapters.findIndex(c => c.unique_id === chapters_positions[idx]);
            console.log(idx, chap);
            topic_chapters.chapters[chap].index = idx;
        }
        console.log('after index manip', topic_chapters.chapters);

        const errors = [];
        topic_chapters.chapters.forEach(chapter => {
            if (!chapter.title || chapter.title.length === 0) {
                errors.push(`Please add title for chapter at position ${chapter.index}!`);
            }

            if (!chapter.content || chapter.content.content === 0) {
                errors.push(`Please add content for chapter at position ${chapter.index}!`);
            }
        });

        if (errors.length > 0) {
            const errorHtml = errors.map(error => `
                <div id="err-info" class="alert alert-danger">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <strong>Error!</strong> <span id="err-text">${error}</span>
                </div>
            `).join('');
            $("#err-div").html(errorHtml);
            $("#err-div").show();
            return false;
        }

        if (errors.length > 0) {
            const errorHtml = errors.map(error => `
                <div id="err-info" class="alert alert-danger">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <strong>Error!</strong> <span id="err-text">${error}</span>
                </div>
            `).join('');
            $("#err-div").html(errorHtml);
            $("#err-div").show();
            return false;
        }

        lock = true;
        initProgressBar();
        let formData = new FormData();
        formData.append('id', topic_chapters.id);
        formData.append('unique_id', topic_chapters.unique_id);
        formData.append('title', topic_chapters.title);
        formData.append('chapters', JSON.stringify(topic_chapters.chapters));

        // Log FormData content
        for (let pair of formData.entries()) {
            console.log(pair[0]+ ', ' + pair[1]);
        }

        $.ajax({
            type : 'POST',
            url : 'upsertTopic/',
            data : formData,
            processData: false,
            contentType: false,
            success :function(data)
            {
                lock=false;
                clearInterval(barInterval);
                $("#progress-bar").css({"width":"100%"});

                console.log('Success', data);
                if(data['result']=='SUCCESS')
                {
                    $("#success-div").show();
                    if(mode == "edit"){
                        $("#success-text").html("Course edited Successfully");
                    }else{
                        $("#success-text").html("Course added Successfully");
                    }

                    $("#main-form-div").hide();
                    localStorage.removeItem('topic_chapters');
                    localStorage.removeItem('chapters_positions');
                    return;
                }
                else
                {

                    $("#err-div").html('<div id="err-info" class="alert alert-danger"><button type="button" class="close" data-dismiss="alert">×</button><strong>Error!</strong> <span id="err-text">'+result['info']+'</span></div>');
                    $("#err-div").show();
                    $("#progress-bar-div").hide();

                    return;
                }


            },
            error : function(data)
            {
                lock=false;
                clearInterval(barInterval);

                var message = data.responseText ? data.responseText : 'some error occured while saving, please contact administrator !';
                $("#err-div").html('<div id="err-info" class="alert alert-danger"><button type="button" class="close" data-dismiss="alert">×</button><strong>Error!</strong> <span id="err-text">'+message+'</span></div>');
                $("#err-div").show();
                $("#progress-bar-div").hide();

                return;
            }

        });
    }

    function setError(domId,msg){
        $("#"+domId+"-error").html(msg);
        $("#"+domId+"-err-icon").html('<i class="glyphicon glyphicon-remove-circle"></i>');
        $("#"+domId+"-group").addClass('has-error');
    }

    function setSuccess(domId){
        $("#"+domId+"-err-icon").html('<i class="fal fa-check"></i>');

        $("#"+domId+"-group").removeClass('has-error');
        $("#"+domId+"-group").addClass('has-success');
    }

    function initProgressBar()
    {

        document.getElementById("progress-bar").style.width='20%';
        $("#progress-bar-div").show();

    }

    function incBar()
    {
        var currWidth = $("#progress-bar").width();
        $("#progress-bar").width(currWidth+50);
    }
    document.addEventListener('DOMContentLoaded', function() {
    const buttons = document.querySelectorAll('.preview-chapter-btn');
    buttons.forEach(button => {
        button.addEventListener('click', function() {
            const chapter_unique_id = button.getAttribute('data-chapter-id');
            previewChapter(chapter_unique_id);
        });
    });
});
   

    
</script>



