<link rel="stylesheet" media="screen, print" href="/static/pharma_gyan/css/datatables.bundle.css">
<link rel="stylesheet" media="screen, print" href="/static/pharma_gyan/css/skin-master.css">
<link rel="stylesheet" media="screen, print" href="/static/pharma_gyan/css/summernote.css?xyz=1">
<script src="/static/js/datatables.bundle.js"></script>
<script src="/static/pharma_gyan/js/datatables.export.js"></script>
<script src="/static/pharma_gyan/js/underscore-1.6.0.min.js"></script>
<!--<script src="/static/js/inputmask.bundle.js"></script>-->
<script src="/static/pharma_gyan/js/summernote.js"></script>

<style type="text/css">
    .form-field-custom{
        font-weight:bold;
        font-size:14px;
    }

    body{
        -webkit-text-size-adjust: 100%;
        text-size-adjust: 100%;
    }

    .form-group{
        display: flex;
        align-items: center;
    }

    .form-label{
        width: 15%
    }

    .permissionWrapper{
        margin: 15px 0;
    }

    .perHead{
        font-size: 18px;
        padding: 10px 0;
    }

    #perm{
        padding: 10px 40px;
        display: flex;
        flex-wrap: wrap;
    }
    #perm >div{
        width: 50%;
        padding: 8px;
    }

    .rcWrapper {
        width: 300px;
        height: 230px;
        padding: 0;
        border: 2px solid black;
        border-radius: 20px;
        background-color: #eef7fd;
    }

    .rcHeader{
        width: 100%;
        height: 52px;
        border-radius:20px 20px 0px 0px;
        border: 1px solid;
    }

    /*.otpcheck{*/
    /*    padding-left: 40px;*/
    /*}*/
    /*.emailCTA{*/
    /*    margin-left: 7%;*/
    /*    padding-top: 12px;*/
    /*    border-top: 1px solid #1dc9b7;*/
    /*}*/

</style>


<!--<div id="success-div" style="margin-top: 20px; padding: 10px;display: none;">-->
<!--  <div id="err-info" class="alert alert-success" style="padding: 30px;font-size: 18px;"><strong>Congratulations!</strong> <span id="success-text"></span>-->
<!---->
<!--    </div></div>-->

<div id="success-div" style="display: none;">
  <div class="panel-container show">
    <div class="panel-content">
      <div class="panel-tag" style="width:100%;float:left;">
        <div style="float:left;">Congratulations! You have successfully saved Vehicle.</div>
        <div style="clear:both;"></div>
        <div style="float:left;margin-top:20px;">
          <button class="btn btn-danger waves-effect waves-themed" onclick="window.location='{{ baseUrl }}/pharma_gyan/editor/#promoCode'">Add Another Promo Code</button>
          <button style="margin-left:20px;" class="btn btn-warning waves-effect waves-themed" onclick="window.location='<?=$baseUrl?>#'">View Promo Code</button>
        </div>

      </div>


    </div>
  </div>
</div>


<div id="main-form-div">
    <div class="row">
        <div class="col-xl-12">
            <div id="panel-1" class="panel">
                <div class="panel-hdr">
                    <h2 id="main_title">
                        Add Promo Code
                    </h2>
                    <div class="panel-toolbar">
                        <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"></button>
                        <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"></button>
                        <button class="btn btn-panel" data-action="panel-close" data-toggle="tooltip" data-offset="0,10" data-original-title="Close"></button>
                    </div>
                </div>
                <div class="panel-container show">
                    <div style="display: flex"; class="panel-content">
                        <div class="col-lg-5">
                            <div class="p-20">


                                    <div style="margin-bottom: 0.5rem"; class="form-group">
                                        <label style="width: 100%"; class="form-label">Title</label>

                                    </div>

                                    <div class="form-group">
                                        <input type="text" id="title" class="form-control">

                                    </div>
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <div class="p-20">
                                <div action="#">


                                    <div style="margin-bottom: 0.5rem"; class="form-group">
                                        <label style="width: 100%"; class="form-label">Promo Code</label>
                                    </div>

                                    <div class="form-group">
                                        <input type="text" id="promoCode" class="form-control">

                                    </div>

                                  <div id="progress-bar-div" style="margin-top:20px;margin-bottom:20px;width:100%;display:none;" class="progress progress-striped active">
                                    <div id="progress-bar" class="progress-bar bg-success-500 bg-danger-gradient" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">

                                    </div>
                                  </div>
                                  <div id="err-div" style="display: none;margin-top:20px;"></div>
                                  <div class="col-xl-6">
                                    <div id="issues" class="alert alert-danger" role="alert" style="margin-top:20px; display: none;">
                                      <strong>Oh snap!</strong>
                                      <ul id="issue-items" style="margin-top:10px;">
                                        <li>Issue 1</li>
                                      </ul>
                                    </div>
                                  </div>





                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="display: flex"; class="panel-content">

                        <div class="col-lg-5">
                            <div class="p-20">
                                <div action="#">


                                    <div style="margin-bottom: 0.5rem"; class="form-group">
                                        <label style="width: 100%"; class="form-label">Discount Type</label>

                                    </div>

                                    <div class="form-group">
                                    <select class="form-control select2" id="discountType" data-placeholder="Select promo code type" onchange="typeChanged()" style="placeholder: 'Please select an skill'">
                                        <option value="flat">Flat</option>
                                        <option value="percentage">Percentage</option>
                                    </select>

                                    </div>

                                  <div id="progress-bar-div" style="margin-top:20px;margin-bottom:20px;width:100%;display:none;" class="progress progress-striped active">
                                    <div id="progress-bar" class="progress-bar bg-success-500 bg-danger-gradient" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">

                                    </div>
                                  </div>
                                  <div id="err-div" style="display: none;margin-top:20px;"></div>
                                  <div class="col-xl-6">
                                    <div id="issues" class="alert alert-danger" role="alert" style="margin-top:20px; display: none;">
                                      <strong>Oh snap!</strong>
                                      <ul id="issue-items" style="margin-top:10px;">
                                        <li>Issue 1</li>
                                      </ul>
                                    </div>
                                  </div>





                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5" id="flat-discount-div">
                        </div>

                    </div>
                    <div style="display: flex"; class="panel-content">

<!--                        <div class="col-xl-10">-->
                        <div class="col-lg-5" id="percentage-discount-div" style="display: none;">
                        </div>
                        <div class="col-lg-5"  id="max-discount-div" style="display: none;">
                            <div class="p-20">
                                <div action="#">


                                    <div style="margin-bottom: 0.5rem"; class="form-group">
                                        <label style="width: 100%"; class="form-label">Max Discount (Rs)</label>

                                    </div>

                                    <div class="form-group">
                                        <input type="text" id="max_discount" class="form-control">

                                    </div>

                                  <div id="progress-bar-div" style="margin-top:20px;margin-bottom:20px;width:100%;display:none;" class="progress progress-striped active">
                                    <div id="progress-bar" class="progress-bar bg-success-500 bg-danger-gradient" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">

                                    </div>
                                  </div>
                                  <div id="err-div" style="display: none;margin-top:20px;"></div>
                                  <div class="col-xl-6">
                                    <div id="issues" class="alert alert-danger" role="alert" style="margin-top:20px; display: none;">
                                      <strong>Oh snap!</strong>
                                      <ul id="issue-items" style="margin-top:10px;">
                                        <li>Issue 1</li>
                                      </ul>
                                    </div>
                                  </div>





                                </div>
                            </div>
                        </div>



                    </div>
                    <div class="promo-code-conf">
                    <div style="display: flex"; class="panel-content">

<!--                        <div class="col-xl-10">-->
                        <div class="col-lg-5"  id="max-usage-div" style="display: none;">
                            <div class="p-20">
                                <div action="#">


                                    <div style="margin-bottom: 0.5rem"; class="form-group">
                                        <label style="width: 100%"; class="form-label">Max Usage</label>

                                    </div>

                                    <div class="form-group">
                                        <input type="text" id="max_usage" class="form-control">

                                    </div>





                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5"  id="expiry-date-div" style="display: none;">
                            <div class="p-20">
                                <div action="#">


                                    <div style="margin-bottom: 0.5rem"; class="form-group">
                                        <label style="width: 100%"; class="form-label">Expiry Date</label>

                                    </div>

                                    <div class="form-group">
                                        <input type="date" id="expire_date" class="form-control">

                                    </div>

                                  <div id="progress-bar-div" style="margin-top:20px;margin-bottom:20px;width:100%;display:none;" class="progress progress-striped active">
                                    <div id="progress-bar" class="progress-bar bg-success-500 bg-danger-gradient" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">

                                    </div>
                                  </div>
                                  <div id="err-div" style="display: none;margin-top:20px;"></div>
                                  <div class="col-xl-6">
                                    <div id="issues" class="alert alert-danger" role="alert" style="margin-top:20px; display: none;">
                                      <strong>Oh snap!</strong>
                                      <ul id="issue-items" style="margin-top:10px;">
                                        <li>Issue 1</li>
                                      </ul>
                                    </div>
                                  </div>





                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="display: flex"; class="panel-content">

<!--                        <div class="col-xl-10">-->
                        <div class="col-lg-5" id="is-public-div" style="display: none;">
                            <div class="custom-control custom-checkbox otpcheck">
                                        <input type="checkbox" class="custom-control-input" id="is_public" value="0">
                                        <label class="custom-control-label" style="font-size: 15px;padding-left: 15px">Is Public</label>
                                    </div>
                        </div>
                        <div class="col-lg-5" id="multi-usage-div" style="display: none;">
                            <div class="custom-control custom-checkbox otpcheck">
                                        <input type="checkbox" class="custom-control-input" id="multi_usage" value="0">
                                        <label class="custom-control-label" style="font-size: 15px;padding-left: 15px">Multi Usage</label>
                                    </div>
                        </div>

                    </div>
                    <div>
                    <div style="display: flex"; class="panel-content">
                        <div class="col-lg-5">
                        <div id="progress-bar-div" style="margin-top:20px;margin-bottom:20px;width:100%;display:none;" class="progress progress-striped active">
                                    <div id="progress-bar" class="progress-bar bg-success-500 bg-danger-gradient" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">

                                    </div>
                                  </div>
                                  <div id="err-div" style="display: none;margin-top:20px;"></div>
                                  <div class="col-xl-6">
                                    <div id="issues" class="alert alert-danger" role="alert" style="margin-top:20px; display: none;">
                                      <strong>Oh snap!</strong>
                                      <ul id="issue-items" style="margin-top:10px;">
                                        <li>Issue 1</li>
                                      </ul>
                                    </div>
                                  </div>
                                    <div class="emailCTA">
                                        <button class="btn  btn-small btn-success" onclick="addPromoCode()" >Save</button>
                                    </div>
                            </div>
                    </div>
                    <div class="p-20" id="discount-div" style="display: none;">
                                <div action="#">


                                    <div style="margin-bottom: 0.5rem"; class="form-group">
                                        <label style="width: 100%"; class="form-label"  id="discount-label">Discount (Rs/%)</label>

                                    </div>

                                    <div class="form-group">
                                        <input type="text" id="discount" class="form-control">

                                    </div>





                                </div>
                            </div>














                </div>
            </div>
        </div>
    </div>
</div>


</div>
</div>


<script type="text/javascript">

    var baseUrl = "{{ baseUrl }}";
    console.log(baseUrl)

    $(document).ready(function() {


        document.domain = 'santkripaequipment.com';


        function initProgressBar() {

            document.getElementById("progress-bar").style.width = '20%';
            $("#progress-bar-div").show();

        }


        function incBar() {
            var currWidth = $("#progress-bar").width();
            $("#progress-bar").width(currWidth + 50);
        }



    });
    function setError(domId,msg){
        $("#"+domId+"-error").html(msg);
        $("#"+domId+"-err-icon").html('<i class="glyphicon glyphicon-remove-circle"></i>');
        $("#"+domId+"-group").addClass('has-error');
    }

    function setSuccess(domId){
        $("#"+domId+"-err-icon").html('<i class="fa fa-check"></i>');

        $("#"+domId+"-group").removeClass('has-error');
        $("#"+domId+"-group").addClass('has-success');
    }

    function initProgressBar()
    {

        document.getElementById("progress-bar").style.width='20%';
        $("#progress-bar-div").show();

    }

    function incBar()
    {
        var currWidth = $("#progress-bar").width();
        $("#progress-bar").width(currWidth+50);
    }
    function typeChanged(){
    let discountType = $("#discountType").val();
    if(discountType=="percentage"){
        $("#percentage-discount-div").append($("#discount-div").show());
        $("#discount-label").text("Discount (%)");
        $("#percentage-discount-div").show();
        $("#max-discount-div").show();
        $("#max-usage-div").show();
        $("#expiry-date-div").show();
        $("#is-public-div").show();
        $("#multi-usage-div").show();
        $("#flat-discount-div").hide()
    }
    else{
    $("#percentage-discount-div").hide();
    $("#max-discount-div").hide();
    $("#flat-discount-div").append($("#discount-div").show());
    $("#discount-label").text("Discount (Rs)");
    $("#flat-discount-div").show();
    $("#max-usage-div").show();
    $("#expiry-date-div").show();
    $("#is-public-div").show();
    $("#multi-usage-div").show();
    }

  }

    var lock = false;
    function addPromoCode(){
      var promoData = {};
      promoData['title'] = $('#title').val();
      promoData['promo_code'] = $('#promoCode').val();
      promoData['discount_type'] = $('#discountType').val();
      promoData['discount'] = $('#discount').val();
      promoData['max_discount'] = $('#max_discount').val();
      promoData['max_usage'] = $('#max_usage').val();
      promoData['expiry_date'] = $('#expire_date').val();
      promoData['is_public'] = $('#is_public').val();
      promoData['multi_usage'] = $('#multi_usage').val();
<!--      if(!(vehicleNumber && vehicleNumber.match(vehicleno))){-->
<!--        $("#issues").hide();-->
<!--        setError("vehicle");-->
<!--        $("#err-div").html('<div id="err-info" class="alert alert-danger"><button type="button" class="close" data-dismiss="alert">×</button><strong>Error!</strong> <span id="err-text">Please add correct vehicle number ! </span></div>');-->
<!--        $("#err-div").show();-->

<!--        return;-->
<!--      }-->
<!--      setSuccess("vehicle");-->


        lock = true;

        initProgressBar();

        $("#err-div").html('');
        var barInterval = setInterval('incBar()',25);

        $.ajax({
            type : 'POST',
            url : 'upsertPromoCode/',
            data : JSON.stringify(promoData),
            success :function(data)
            {

                lock=false;
                clearInterval(barInterval);
                $("#progress-bar").css({"width":"100%"});

                console.log(data, "result");
                if(data['result']=='SUCCESS')
                {
                    $("#success-div").show();
                    $("#success-text").html("Promo code added Successfully");


                    $("#main-form-div").hide();
                  $("#progress-bar-div").hide();
                    return;
                }
                else
                {

                  $("#issue-items").html("");
                  console.log(result['info'], "result['info']")

                  $("#issue-items").append(`<li>Error! ${result['info']}</li>`);

                  $("#issues").fadeIn(500);
                  lock = false;
                  clearInterval(barInterval);
                  $("#progress-bar-div").hide();
                  return;
                }


            },
            error : function(data)
            {
                lock=false;
                clearInterval(barInterval);

                var message = data.responseText ? data.responseText : 'some error occured while saving, please contact administrator !';
              $("#issue-items").html("");

              $("#issue-items").append(`<li>Error! ${message}</li>`);

              $("#issues").fadeIn(500);
              $("#progress-bar-div").hide();
              lock = false;
              return;
            }

        });



    }




</script>

