<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Add configuration</title>
    <style type="text/css">
        .custom-control-label {
            text-transform: capitalize;
            cursor: pointer;
        }

        .was-validated .custom-select:valid+.select2 .select2-selection {
            border-color: #1dc9b7;
            padding-right: calc((1em + 1rem) * 3 / 4 + 1.875rem);
            background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%231dc9b7' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e") #fff no-repeat center right 1.875rem/calc(0.735em + 0.5rem) calc(0.735em + 0.5rem);
        }

        .was-validated .custom-select:valid+.select2 .select2-selection:focus {
            border-color: #1dc9b7;
            -webkit-box-shadow: 0 0 0 0.2rem rgba(29, 201, 183, 0.25);
            box-shadow: 0 0 0 0.2rem rgba(29, 201, 183, 0.25);
        }

        .was-validated .custom-select:invalid+.select2 .select2-selection {
            border-color: #fd3995;
            padding-right: calc(2.47em + 1rem);
            background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23fd3995' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23fd3995' stroke='none'/%3e%3c/svg%3e") #fff no-repeat center right 1.875rem/calc(0.735em + 0.5rem) calc(0.735em + 0.5rem);
        }

        .was-validated .custom-select:invalid+.select2 .select2-selection:focus {
            border-color: #fd3995;
            -webkit-box-shadow: 0 0 0 0.2rem rgba(253, 57, 149, 0.25);
            box-shadow: 0 0 0 0.2rem rgba(253, 57, 149, 0.25);
        }
    </style>
    <link rel="stylesheet" media="screen, print" href="/static/pharma_gyan/css/select2.bundle.css" />
</head>

<body>
    <div id="main-form-div">
        <div class="row">
            <div class="col-xl-12">
                <div class="panel" id="projectConfigurationPanel">
                    <div class="panel-hdr">
                        <h2>
                            <span class="fw-900"><i>Project configurations</i></span>
                        </h2>
                        <div class="panel-toolbar">
                            <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip"
                                data-offset="0,10" data-original-title="Collapse"></button>
                            <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip"
                                data-offset="0,10" data-original-title="Fullscreen"></button>
                            <button class="btn btn-panel" data-action="panel-close" data-toggle="tooltip"
                                data-offset="0,10" data-original-title="Close"></button>
                        </div>
                    </div>
                    <div class="panel-container">
                        <div class="form-group row m-3">
                            <div class="col-4">
                                <label class="form-label" for="bankName">Bank name</label>
                                <select class="form-control select2" id="bankName" name="bankName"
                                    data-placeholder="Select Bank name" required></select>
                            </div>
                            <div class="col-4" style="display: none">
                                <label class="form-label" for="environment">Environment</label>
                                <select class="form-control select2" id="environment" name="environment"
                                    data-placeholder="Select Environment" required></select>
                            </div>
                            <div class="col-4" style="display: none">
                                <label class="form-label" for="project">Project</label>
                                <select class="form-control select2" id="project" name="project"
                                    data-placeholder="Select Project" required></select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel">
                    <div class="panel-hdr">
                        <h2>
                            <span class="fw-900"><i>Create Offer</i></span>
                        </h2>
                        <div class="panel-toolbar">
                            <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip"
                                data-offset="0,10" data-original-title="Collapse"></button>
                            <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip"
                                data-offset="0,10" data-original-title="Fullscreen"></button>
                            <button class="btn btn-panel" data-action="panel-close" data-toggle="tooltip"
                                data-offset="0,10" data-original-title="Close"></button>
                        </div>
                    </div>
                    <div id="divLoader" style="display: none">
                        <div class="position-absolute d-flex flex-column justify-content-center align-items-center w-100"
                            style="
                  z-index: 2;
                  background-color: rgba(255, 255, 255, 0.7);
                  height: -webkit-fill-available;
                ">
                            <div class="spinner-border mb-2" role="status"></div>
                            <div style="font-size: 16px">Loading...</div>
                        </div>
                    </div>
                    <div id="splashScreen" style="">
                        <div class="position-absolute d-flex flex-column justify-content-center align-items-center w-100"
                            style="
                  z-index: 2;
                  background-color: rgba(255, 255, 255, 0.9);
                  height: -webkit-fill-available;
                ">
                            <div style="font-size: 26px">
                                Please Select Project Config first.
                            </div>
                        </div>
                    </div>

                    <div id="congratsConfigSaved" style="display: none">
                        <div class="position-absolute d-flex flex-column justify-content-center align-items-center w-100"
                            style="
                  z-index: 2;
                  background-color: rgba(255, 255, 255, 1);
                  height: -webkit-fill-available;
                ">
                            <div class="h-100 d-flex justify-content-center align-items-center">
                                <div class="panel p-6 d-flex flex-column justify-content-center align-items-center text-center"
                                    style="font-size: 20px">
                                    <img src="/static/pharma_gyan/img/accepted.png" class="img-fluid mb-5" width="75"
                                        height="75" />
                                    <span class="mx-2 mb-5">Congratulations, Your Offer has been saved
                                        successfully!</span>
                                    <div>
                                        <a href="#viewOffers"
                                            class="btn btn-lg btn-outline-info waves-effect waves-themed"><i
                                                class="fal fa-eye"></i><span class="ml-2">View Offers</span></a>
                                        <button onclick="createNewOffer()"
                                            class="btn btn-lg btn-outline-success  waves-effect waves-themed ml-2"><i
                                                class="fal fa-plus"></i><span class="ml-2">Create new
                                                Offer</span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <form class="panel-container m-5" id="createOfferForm" onsubmit="formSubmit(event)" novalidate>
                        <div class="form-group row">
                            <div class="col-4">
                                <label class="form-label" for="offerName">Offer Name</label>
                                <input type="text" id="offerName" class="form-control" name="key"
                                     placeholder="Enter Offer Name" required />
                            </div>
                            <div class="col-4">
                                <label class="form-label" for="offerDescription">Offer Description</label>
                                <input type="text" id="offerDescription" class="form-control" name="key"
                                     placeholder="Enter Offer Description" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-4">
                                <label class="form-label" for="offerField">Offer Field</label>
                                <select class="form-control select2 custom-select" id="offerField" name="offerField"
                                    data-placeholder="Select Offer Field" required></select>
                            </div>
                            <div class="col-4">
                                <label class="form-label" for="offerType">Offer Type</label>
                                <select class="form-control select2 custom-select" id="offerType" name="offerType"
                                    data-placeholder="Select Offer type" required></select>
                            </div>
                            <div class="col-4" id="evaluateMarkupDiv" style="display: none;">
                                <div class="align-items-center h-100  d-flex fs-lg">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="evaluate_on_mark_up"
                                            name="evaluate_on_mark_up">
                                        <label class="custom-control-label" for="evaluate_on_mark_up">Evaluate on
                                            Markup</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-4" style="display: none;">
                                <label class="form-label" for="evalMode">Evaluation Mode</label>
                                <select class="form-control select2 custom-select" id="evalMode"
                                    data-placeholder="Select evaluation mode" required></select>
                            </div>

                            <div class="col-4" style="display: none;">
                                <label class="form-label" for="valueInput">Value Input</label>
                                <input type="text" id="valueInput" class="form-control" name="valueInput"
                                    pattern="[0-9]*[.]?[0-9]*" placeholder="Enter Value" />
                            </div>
                            <div class="col-4">
                                <label class="form-label" for="priority">Priority</label>
                                <input type="text" id="priority" class="form-control" name="priority" pattern="[1-9]*"
                                    placeholder="Enter priority" />
                            </div>
                        </div>

                        <div id="inputDiv">

                        </div>
                        <div id="issues" class="alert alert-danger" role="alert"
                            style="margin-top: 20px; display: none">
                            <strong>Oh snap!</strong> Change a few things up and try
                            submitting again.
                            <ul id="issue-items" style="margin-top: 10px"></ul>
                        </div>
                        <div class="mt-4 d-flex justify-content-end">
                            <button type="submit" class="ml-2 btn btn-primary waves-effect waves-themed">
                                Save Offer
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="toast hide" style="position: absolute; top: 50%; right: 40%" id="toast" data-delay="2000">
            <div class="toast-header">
                <strong class="mr-auto" id="toastInfo"></strong>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
        <!-- Something went wrong toastr -->
        <div class="toast hide" style="
          position: absolute;
          top: 50%;
          right: 45%;
          background-color: rgb(220 53 69);
          color: white;
          min-width: 250px;
        " id="somethingWentWrongAlert" data-delay="2000">
            <div class="toast-header">
                <strong class="mr-auto">Alert</strong>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="toast-body" id="failureAlertBody">Somthing went wrong, Please try again.</div>
            <!-- <div class="toast-header">
      <strong class="mr-auto" id="toastInfo">lmcklwkmeck</strong>
    </div> -->
        </div>
    </div>
</body>
<script type="text/javascript">
    var currentUser = "{{ user }}";
    var mode = "{{mode}}" || "create";
    var uniqueId = "{{uniqueId}}" || "";
    var user_bank_settings = {{ user_bank_settings| safe}};
    var apiBasePath = ""
    var projectId = "";
    var offer_fields = []
    var offer_types = []
    var offer_details_config = {}


    $(document).ready(function () {
        $(window).keydown(function (event) {
            if (event.keyCode == 13) {
                event.preventDefault();
                return false;
            }
        });
        handleMode(mode);
        $(".select2").select2();
        var inputs = $("input");
        // Add an input event listener to all input elements
        $(document).on("input", "input", function () {
            // Check the validity of the current input based on the pattern attribute
            if (!this.checkValidity() && !!this.value) {
                // If it's not valid, prevent the change by resetting the input value to its previous value
                $(this).val($(this).data("previousValue"));
            } else {
                // If it's valid, store the current value as the previous value
                $(this).data("previousValue", $(this).val());
            }
        });
    });
    function createNewOffer() {
        $("#createOfferForm :input").prop("disabled", false);
        $("#congratsConfigSaved").hide();
        $("#inputDiv").html("")
        $("#offerName").val("")
        $("#offerDescription").val("");
        $("#valueInput").val("");
        $("#priority").val("");
        $("#offerField").val("").change();
        $("#offerType").val("").change();
        $(`#evaluate_on_mark_up`).prop("checked", false).change();
    }



    $("#bankName").on("change", function () {
        currentBank = this.value;
        $("#environment").parent().show();
        var environmentOptionsHtml =
            "<option value='' disabled selected></option>";
        for (const environment of Object.keys(user_bank_settings[this.value])) {
            environmentOptionsHtml += `<option value='${environment}'>${environment}</option>`;
        }
        $("#environment").html(environmentOptionsHtml);
        $("#project").parent().hide();
        $("#project").html("");
    });
    $("#environment").on("change", function () {
        currentEnvironment = this.value;
        $("#project").parent().show();
        const bank = $("#bankName").val();
        var projectOptionsHtml = "<option value='' disabled selected></option>";
        for (const project of Object.keys(user_bank_settings[bank][this.value])) {
            projectOptionsHtml += `<option value='${project}'>${project}</option>`;
        }
        $("#project").html(projectOptionsHtml);
    });
    $("#project").on("change", function () {
        currentProject = this.value;
        const bank = $("#bankName").val();
        const env = $("#environment").val();
        apiBasePath = user_bank_settings?.[bank]?.[env]?.[this.value]?.url;
        // currentBank = this.value;
        $("#segmentViewType").parent().show();
        setSessionStorageItem("selected_project_config", { "bank": bank, "env": env, "project": this.value })
        projectId = user_bank_settings?.[bank]?.[env]?.[this.value]?.project_id
        createOfferInit(projectId, $("#segmentViewType").val())
    });
    $(document).on("change", "#bankName, #environment, #project", function () {
        $("#bankName, #environment, #project").map(function () {
            if (!this.value) {
                $("#splashScreen").show();
            }
        });
    });


    $("#projectId").on("change", function () {
        // currentBank = this.value;
        // $("#segmentViewType").parent().show();
        // var segmentViewTypeHtml = "<option value='' disabled selected></option>";
        // for (const segmentView of config[this.value]) {
        //     segmentViewTypeHtml += `<option value='${segmentView}'>${segmentView}</option>`;
        // }
        // $("#segmentViewType").html(segmentViewTypeHtml);
    });


    // $("#offerType").on("change", function () {
    //     console.log("this", this.value);
    //     const offerTypeConfig = offer_details_config[this.value] || {};

    //     if (!Object?.keys(offerTypeConfig)?.length) {
    //         $("#inputDiv").html("")
    //         return
    //     }
    //     var inputDivHtml = "";

    //     var modeOptions = ''
    //     for (let mode of offerTypeConfig?.mode?.values) {
    //         modeOptions += `<div class="custom-control custom-radio custom-control-inline">
    //                             <input type="radio" class="custom-control-input" id="mode${mode}" name="mode"
    //                                 value="${mode}" required>
    //                             <label class="custom-control-label" for="mode${mode}">${mode}</label>
    //                         </div>`
    //     }

    //     const modeHtml = `<div class="form-group row d-block" style="padding-left: 12px;">
    //                             <label class="form-label">Mode</label>
    //                             <div class="frame-wrap">
    //                                 ${modeOptions}
    //                             </div>
    //                         </div>`

    //     var operationOptions = ''
    //     for (let operation of offerTypeConfig?.operation?.values) {
    //         operationOptions += `<div class="custom-control custom-radio custom-control-inline">
    //                             <input type="radio" class="custom-control-input" id="operation${operation}" name="operation"
    //                                 value="${operation}" required>
    //                             <label class="custom-control-label" for="operation${operation}">${operation}</label>
    //                         </div>`
    //     }

    //     const operationtml = `<div class="form-group row d-block" style="padding-left: 12px;">
    //                             <label class="form-label">Operation</label>
    //                             <div class="frame-wrap">
    //                                 ${operationOptions}
    //                             </div>
    //                         </div>`

    //     var valueTypeOptions = ''
    //     for (let valueType of offerTypeConfig?.value?.type) {
    //         valueTypeOptions += `<div class="custom-control custom-radio custom-control-inline">
    //                             <input type="radio" class="custom-control-input" id="valueType${valueType}" name="valueType"
    //                                 valueType="${valueType}" required>
    //                             <label class="custom-control-label" for="valueType${valueType}">${valueType}</label>
    //                         </div>`
    //     }

    //     const valuetypeHtml = `<div class="form-group row d-block" style="padding-left: 12px;">
    //                             <label class="form-label">Value Type</label>
    //                             <div class="frame-wrap">
    //                                 ${valueTypeOptions}
    //                             </div>
    //                         </div>`

    //     const valueInputHtml = `<div class="col-4 pl-0">
    //                                 <label class="form-label" for="valueInput">Value Input</label>
    //                                 <input type="text" id="valueInput" class="form-control" name="valueInput"
    //                                     pattern="[0-9]*[.,]?[0-9]*" placeholder="Enter Value" required />
    //                             </div>`
    //     $("#inputDiv").html(modeHtml + operationtml + valuetypeHtml + valueInputHtml)

    // });


    // offer_details_config = {
    //     "OFFER": {
    //         "eval_mode": {
    //             "FLAT": {
    //                 "value": {
    //                     "type": [
    //                         "float",
    //                         "int"
    //                     ]
    //                 }
    //             },
    //             "ABSOLUTE": {
    //                 "value": {
    //                     "type": [
    //                         "float",
    //                         "int"
    //                     ]
    //                 }
    //             },
    //             "PERCENTAGE": {
    //                 "value": {
    //                     "type": [
    //                         "float",
    //                         "int"
    //                     ]
    //                 }
    //             },
    //             "RESTORE_TO_ORIGINAL": {

    //             }
    //         }
    //     },
    //     "MARKUP": {
    //         "eval_mode": {
    //             "FLAT": {
    //                 "value": {
    //                     "type": [
    //                         "float",
    //                         "int"
    //                     ]
    //                 }
    //             },
    //             "ABSOLUTE": {
    //                 "value": {
    //                     "type": [
    //                         "float",
    //                         "int"
    //                     ]
    //                 }
    //             },
    //             "PERCENTAGE": {
    //                 "value": {
    //                     "type": [
    //                         "float",
    //                         "int"
    //                     ]
    //                 }
    //             },
    //             "RESTORE_TO_ORIGINAL": {

    //             }
    //         }
    //     }
    // }

    $("#offerType").on("change", function () {
        const evalOptions = Object.keys(offer_details_config?.[this.value]?.["eval_mode"]||{}) || [];
        var selectHtml = `<option value='' disabled selected></option>`;
        for (var i = 0; i < evalOptions.length; i++) {
            selectHtml += `<option value="${evalOptions[i]}">${evalOptions[i]}</option>`;
        }
        if (!!evalOptions?.length) {
            $("#evalMode").parent().show();
        } else {

            $("#evalMode").parent().hide();

        }
        if (this.value?.toUpperCase() === "OFFER") {
            $("#evaluateMarkupDiv").show();
        } else {
            $("#evaluateMarkupDiv").hide();
        }
        $("#evalMode").html(selectHtml);
    })
    $("#evalMode").on("change", function () {
        const isValueAvailable = !!Object.keys(offer_details_config[$("#offerType").val()]["eval_mode"][this.value]?.value || {})?.length

        $("#valueInput").val("")
        if (isValueAvailable) {
            $("#valueInput").parent().show();
            $("#valueInput").attr("required", true);
        } else {
            $("#valueInput").parent().hide();
            $("#valueInput").removeAttr("required");
        }
    })
    async function createOfferInit(projectId = "", segmentViewType = "") {
        $("#divLoader").show();
        try {
            const response = await $.ajax({
                url: apiBasePath + "/offers/get_view_data/",
                type: "POST",
                data: JSON.stringify({
                "active_user": currentUser,
                })
            });

            lock = false;
            $("#divLoader").hide();


            if (response?.offer_fields?.length && response?.offer_types?.length && response?.offer_details_config) {

                offer_fields = response?.offer_fields || []
                offer_types = response?.offer_types || []
                offer_details_config = response?.offer_details_config || {}

                var offerFieldSelectHtml =
                    "<option value='' disabled selected></option>";
                for (let offerField of offer_fields) {
                    offerFieldSelectHtml += `<option value='${offerField}'>${offerField}</option>`;
                }
                $("#offerField").html(offerFieldSelectHtml);

                var offerTypeSelectHtml =
                    "<option value='' disabled selected></option>";
                for (let offerType of offer_types) {
                    offerTypeSelectHtml += `<option value='${offerType}'>${offerType}</option>`;
                }
                $("#offerType").html(offerTypeSelectHtml);

                $(".select2").select2();
                $("#splashScreen").hide();

            } else {
                if (!!response?.details_message) {
                    $("#failureAlertBody").html(response?.details_message)
                }
                $("#somethingWentWrongAlert").toast("show");
                $("#splashScreen").show();
                throw new Error("API call failed");
            }
        } catch (error) {
            lock = false;
            $("#divLoader").hide();
            $("#somethingWentWrongAlert .toast-body").html(`${error?.responseJSON?.details_message || 'Something went wrong!'}`);
            $("#somethingWentWrongAlert").toast("show");
            $("#splashScreen").show();
            throw new Error("API call failed");
        }
    }
    async function handleMode(mode) {
        var bankNameOptionsHtml =
            "<option value='' disabled selected></option>";
        for (const bank of Object.keys(user_bank_settings)) {
            bankNameOptionsHtml += `<option value='${bank}'>${bank}</option>`;
        }
        $("#bankName").html(bankNameOptionsHtml);
        const selected_project_config = getSessionStorageItem("selected_project_config");
        if (!!selected_project_config) {
            const bank = $("#bankName").val(selected_project_config?.bank).change();
            const env = $("#environment").val(selected_project_config?.env).change();
            const project = $("#project").val(selected_project_config?.project).change();
        }

        if (mode == "edit" || mode == "view" || mode == "clone") {
            // await createOfferInit();
            $("#divLoader").show();
            await $.ajax({
                url: apiBasePath + "/offers/view_offer_action_data/",
                type: "POST",
                data: JSON.stringify({
                    "offer_id": uniqueId,
                    "active_user": currentUser,
                }),
                contentType: 'application/json',
                success: function (response) {
                    $("#divLoader").hide();
                    if (response?.result?.toUpperCase() == "SUCCESS") {
                        $("#offerName").val(response?.data[0]?.offer_action_name)
                        $("#offerType").val(response?.data[0]?.offer_type).change()
                        $("#offerField").val(response?.data[0]?.offer_type_enum).change()
                        $("#offerDescription").val(response?.data[0]?.offer_description)
                        $("#priority").val(response?.data[0]?.priority)
                        const offer_details = JSON.parse(response?.data?.[0]?.offer_details)
                        $("#evalMode").val(offer_details?.eval_mode).change()
                        $("#valueInput").val(offer_details?.value)
                        $(`#evaluate_on_mark_up`).prop("checked", !!offer_details?.evaluate_on_mark_up).change();
                        if (mode === "view") {
                            $("#createOfferForm :input").prop("disabled", true);
                        } else if (mode === "edit") {
                            $("#offerName").prop("disabled", true);
                        }
                    } else {
                        if (!!response?.details_message) {
                    $("#failureAlertBody").html(response?.details_message)
                }
                        $("#somethingWentWrongAlert").toast("show");
                    }
                },
                error: function (error) {
                    $("#somethingWentWrongAlert .toast-body").html(`${error?.responseJSON?.details_message || 'Something went wrong!'}`);
                    $("#divLoader").hide();
                    $("#somethingWentWrongAlert").toast("show");
                },
            });

        }
        else if (mode == "edit") {

        } else if (mode == "clone") {

        }
    }
    $('#somethingWentWrongAlert').on('hidden.bs.toast', function () {
        $("#failureAlertBody").html("Somthing went wrong, Please try again.")
    })
    function getRadioValue(name) {
        return $(`input[name=${name}]:checked`).val();
    }

    function setRadioValue(name, value) {
        $(`input[name=${name}][value='${value}']`).prop("checked", true).change();
    }
    function initForm(data) {

    }

    function formSubmit(event) {
        event.preventDefault();
        if ($('#createOfferForm')[0].checkValidity() === false) {
            event.stopPropagation();
            $('#createOfferForm').addClass("was-validated")
            return;
        }
        else {
            $('#createOfferForm').removeClass("was-validated")
        }
        const payload = {
            "project_id": projectId,
            "offer_type": $("#offerType").val(),
            "offer_action_name": $("#offerName").val(),
            "offer_description": $("#offerDescription").val(),
            "offer_type_enum": $("#offerField").val(),
            "priority": $("#priority").val(),
            ...($("#offerType").val()==="OFFER" && {"evaluate_on_mark_up":$(`#evaluate_on_mark_up`).is(":checked")}),
            "active_user": currentUser,
            "mode": mode === "edit" ? "EDIT" : "CREATE",
            ...(mode === "edit" && { offer_id: uniqueId }),
            "offer_details": {
                "value": $("#valueInput").val(),
                "eval_mode": $("#evalMode").val()
            }
        }
        if (!Object.keys(payload)?.length) return;
        $("#divLoader").show();
        $.ajax({
            url: apiBasePath + "/offers/process_offer_action/",
            type: "POST",
            data: JSON.stringify(payload),
            contentType: 'application/json',
            success: function (response) {
                $("#divLoader").hide();
                if (response?.result?.toUpperCase() == "SUCCESS") {
                    $("#congratsConfigSaved").show();
                    console.log("response", response)
                } else {
                    if (!!response?.details_message) {
                    $("#failureAlertBody").html(response?.details_message)
                }
                    $("#somethingWentWrongAlert").toast("show");
                }
            },
            error: function (error) {
                $("#somethingWentWrongAlert .toast-body").html(`${error?.responseJSON?.details_message || 'Something went wrong!'}`);
                $("#divLoader").hide();
                $("#somethingWentWrongAlert").toast("show");
            },
        });
        // alert("Form submitted!");
    }
    $("body").on("focus", ".datepicker_recurring_start", function () {
        $(this).datepicker();
    });
    // Function to set a key in session storage
    function setSessionStorageItem(key, value) {
        sessionStorage.setItem(key, JSON.stringify(value));
    }

    // Function to get a key from session storage
    function getSessionStorageItem(key) {
        const item = sessionStorage.getItem(key);
        return item ? JSON.parse(item) : null;
    }

    // Function to remove a key from session storage
    function removeSessionStorageItem(key) {
        sessionStorage.removeItem(key);
    }
</script>

</html>