
<link rel="stylesheet" media="screen, print" href="/static/pharma_gyan/css/summernote.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-bootstrap-4/bootstrap-4.min.css">
<style>
    .form-group {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        margin-top: 10px; /* Adjust margin as needed */
    }

    .form-group label {
        margin-right: 10px; /* Adjust spacing between label and input */
        white-space: nowrap; /* Prevent the label from wrapping */
    }

    .form-group input {
        flex-grow: 1; /* Allow the input to grow and take available space */
    }

    .panel-hdr {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
  
    .tooltip-left {
  position: relative;
  display: inline-block;
}
.end-item{
    cursor: pointer;
}
/* Tooltip text */
.tooltip-left .tooltiptext {
  
  visibility: hidden;
  width: 100px;
  font-size: 12px; /* Smaller font size for the tooltip */
  /* font-weight: bold; */
  background-color: #ffffff;
  color: #000000;
  text-align: center;
  padding: 4px 0;
  border-radius: 6px;
  transition: visibility 0.2s, opacity 0.2s;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  /* Position the tooltip text - see examples below! */
  top: -5px;
  right: 105%;
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip-left:hover .tooltiptext {
  visibility: visible;
}
.note-group-select-from-files {
            display: none;
        }
/* Style for the dropdown menu */
.dropdown-video-resize {
    min-width: 120px; /* Set the minimum width of the dropdown menu */
    background-color: #fff; /* Set the background color */
    border: 1px solid #ccc; /* Set the border color */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); /* Add a shadow */
    padding: 5px 0; /* Add some padding */
}

/* Style for the dropdown items */
.dropdown-video-resize li {
    padding: 3px 20px; /* Set padding for each item */
    cursor: pointer; /* Change cursor to pointer */
}

/* Style for the dropdown items on hover */
.dropdown-video-resize li:hover {
    background-color: #f0f0f0; /* Change background color on hover */
}

/* Style for the dropdown items */
.dropdown-video-resize li a {
    color: #333; /* Set the text color */
    text-decoration: none; /* Remove underline */
    display: block; /* Make the anchor a block element */
    width: 100%; /* Make it take the full width */
}
</style>

<div id="success-div" style="margin-top: 20px; padding: 10px;display: none;"><div id="err-info" class="alert alert-success" style="padding: 30px;font-size: 18px;
"><strong>Congratulations!</strong> <span id="success-text"></span>

    </div>
    <div id="action-buttons"></div>
<!--     
    <button class="btn-outline-success btn-sm mr-1" onclick=redirectToAddChapter()>Add Another Chapter</button>
    <button class="btn-outline-success btn-sm mr-1" onclick=redirectToPreviewChapter()>Psreview Chapter</button> -->
</div>
<div id="main-form-div">
    <div class="row">
        <div class="col-xl-12">
                <!-- <div class="col-xl-12"> -->
                    <div id="panel-1" class="panel">
                        <div class="panel-hdr">
                            
                            <div class="panel-toolbar">
                                <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"></button>
                                <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"></button>
                                <button class="btn btn-panel" data-action="panel-close" data-toggle="tooltip" data-offset="0,10" data-original-title="Close"></button>
                            </div>
                        </div>
                        <div class="panel-container show">
                            <div class="panel-content">
                                <div class="form-group">
                                    <label for="title" style="font-size: 18px;"><strong>Chapter title</strong></label>
                                    <input type="text" id="title" class="form-control">
                                </div>
                                <div class="js-summernote" id="saveToLocal"></div>
                                <div class="mt-3">
                                    <div class="d-flex justify-content-between align-items-center mt-3">
                                <div class="custom-control custom-checkbox col-lg-5" >
                                        <input type="checkbox" class="custom-control-input " id="markAsFree" value="0">
                                        <label class="custom-control-label " for="markAsFree" style="padding-left: 15px">Mark as free</label>
                                </div>
                                <div class="end-item tooltip-left" onclick="previewChapter()" data-toggle="tooltip" data-placement="top" data-original-title="Preview">
                                    <svg id="preview-chapter-btn" xmlns="http://www.w3.org/2000/svg" height="28px" viewBox="0 -960 960 960" width="28px" fill="#5f6368">
                                        <path d="M212.31-140q-29.83 0-51.07-21.24Q140-182.48 140-212.31v-535.38q0-29.83 21.24-51.07Q182.48-820 212.31-820h535.38q29.83 0 51.07 21.24Q820-777.52 820-747.69v535.38q0 29.83-21.24 51.07Q777.52-140 747.69-140H212.31Zm0-60h535.38q5.39 0 8.85-3.46t3.46-8.85V-680H200v467.69q0 5.39 3.46 8.85t8.85 3.46ZM480-300q-73.54 0-131.88-38.92-58.35-38.93-86.2-101.08 27.85-62.15 86.2-101.08Q406.46-580 480-580q73.54 0 131.88 38.92 58.35 38.93 86.2 101.08-27.85 62.15-86.2 101.08Q553.54-300 480-300Zm0-47.69q51.77 0 95.27-24.39 43.5-24.38 70.65-67.92-27.15-43.54-70.65-67.92-43.5-24.39-95.27-24.39-51.77 0-95.27 24.39-43.5 24.38-70.65 67.92 27.15 43.54 70.65 67.92 43.5 24.39 95.27 24.39Zm0-92.31Zm.09 52.31q21.83 0 37.02-15.29 15.2-15.28 15.2-37.11t-15.29-37.02q-15.28-15.2-37.11-15.2t-37.02 15.29q-15.2 15.28-15.2 37.11t15.29 37.02q15.28 15.2 37.11 15.2Z" />
                                    </svg>
                                    <span class="tooltiptext">Preview</span>
                                </div>
                                </div>
<!--                                    <div id="err-info" class="alert alert-danger"><button type="button" class="close" data-dismiss="alert">×</button><strong>Error!</strong> <span id="err-text"></span></div>-->
                                    <button class="btn btn-small btn-success mt-3" onclick="saveSummernoteData()">Save</button>
                                </div>
                            </div>
                        </div>
                        <div id="err-div" style="display: none;margin-top:20px;"></div>
                        <div id="progress-bar-div" style="margin-top:20px;margin-bottom:20px;width:100%;display:none;" class="progress progress-striped active">
                        <div id="progress-bar" class="progress-bar bg-success-500 bg-danger-gradient" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">

                        </div>
                    </div>
                    </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="chapterPreviewModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 id="chapter-title"></h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="chapter-body">
               
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



<script src="/static/pharma_gyan/js/summernote.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/3.0.1/js.cookie.min.js"></script>
<script>
    var interval;
    var baseUrl = "{{ baseUrl }}";
    var mode = "{{mode}}";
    var uniqueId;
    var client_id;
    var focusedVideoElement = null;
    var debounce = function(func, delay) {
    var inDebounce;
    return function() {
        var context = this;
        var args = arguments;
        clearTimeout(inDebounce);
        inDebounce = setTimeout(function() {
            func.apply(context, args);
        }, delay);
    };
};
    var saveToLocal = function () {
        var summernoteContent = $('#saveToLocal').summernote("code");
        var summernoteContentString = JSON.stringify(summernoteContent);
        localStorage.setItem('summernoteData', summernoteContentString);
        console.log("Saved to local storage");
        
        const mark_as_free = $('#markAsFree').is(':checked') ? 1 : 0;
        console.log('chapter mark as free', mark_as_free);
        localStorage.setItem('markAsFree', mark_as_free);
        
        var title = JSON.stringify($('#title').val());
        localStorage.setItem('Chapter_title', title);
    };
    // Debounced version of saveToLocal
    var debouncedSaveToLocal = debounce(saveToLocal, 3000);
    // Remove from local storage
    var removeFromLocal = function () {
        localStorage.removeItem("summernoteData");
        $('#saveToLocal').summernote('reset');
        console.log("Removed from local storage");
        localStorage.removeItem('markAsFree');
                localStorage.removeItem('Chapter_title');
                localStorage.removeItem('uploadedImageURLs');
                localStorage.removeItem('uploadedVideoURLs');
    };

    // Timer function for auto-save
    var timer = function () {
        interval = setInterval(function () {
            // saveToLocal();
            debouncedSaveToLocal();
            clearInterval(interval);
        }, 1000);
    };
    //error function
    function setError(domId,msg){
        $("#"+domId+"-error").html(msg);
        $("#"+domId+"-err-icon").html('<i class="glyphicon glyphicon-remove-circle"></i>');
        $("#"+domId+"-group").addClass('has-error');
    }
    //preview the chapter
    function previewChapter(){
       console.log('called preview');
        const summernoteData = JSON.parse(localStorage.getItem('summernoteData'));
        console.log('summernote',summernoteData);
        const Chapter_title = JSON.parse(localStorage.getItem('Chapter_title'));
        if(summernoteData!='' || Chapter_title!='')
        {
            const data = {
                uniqueId: null, // Set uniqueId to null
                title: Chapter_title,
                content: summernoteData
            }

        document.getElementById('chapter-title').innerHTML = Chapter_title;
        document.getElementById('chapter-body').innerHTML = summernoteData;
        $('#chapterPreviewModal').modal('show');


            // $.ajax({
            //     type : 'POST',
            //     url : 'previewChapterContent/',
            //     contentType: 'application/json',
            //     data: JSON.stringify(data),
            //     success :function(response)
            //     {
            //         console.log('Success', response);

            //         return $('#main-form-div').html(response);
            //     }
            //     ,
            //         error: function(error) {
            //             console.error('Error:', error);
            //         }}
            //     );
        }
        else{
            // console.log(`Chapter with ID ${chapter_unique_id} not found.`);
            $("#err-div").html(`<div id="err-info" class="alert alert-danger"><button type="button" class="close" data-dismiss="alert">×</button><strong>Error!</strong> <span id="err-text">Please Insert content </span></div>`);
            $("#err-div").show();
            return;

        }
    }

    // Function to handle image upload
    function uploadImages(files) {
        for (let i = 0; i < files.length; i++) {
            let file = files[i];

            // Check if filename is valid (only alphanumeric, underscores, dots, and dashes)
            if (!validateFilename(file.name)) {
                 Swal.fire({ text: 'Invalid filename: Only alphanumeric characters, underscores, dots, and dashes are allowed.',  });
                console.log("Invalid filename:", file.name);
                continue; // Skip uploading this file
            }

            // Check file size (max 5MB)
            if (file.size > 5 * 1024 * 1024) {
                Swal.fire({ text: "File size exceeds 5MB limit."});
                console.log("File size exceeds 5MB limit:", file.name);
                continue; // Skip uploading this file
            }

            let data = new FormData();
            data.append("image-file", file);

            $.ajax({
                url: 'addMedia/',  // Check this URL path
                cache: false,
                contentType: false,
                processData: false,
                data: data,
                type: "POST",
                success: function (response) {
                    if (response.result === 'success') {
                        let imgNode = $('<img>').attr('src', response.data.file_urls[0]).css('width', '50%'); // Set initial width to 50%
                        $('.js-summernote').summernote('insertNode', imgNode[0]);

                        // Manage multiple URLs in localStorage
                        var uploadedImageURLs = JSON.parse(localStorage.getItem('uploadedImageURLs')) || [];
                        response.data.file_urls.forEach(url => {
                            uploadedImageURLs.push(url);
                        });
                        localStorage.setItem('uploadedImageURLs', JSON.stringify(uploadedImageURLs));
                    } else {
                        console.log("Image upload failed");
                    }
                },
                error: function (xhr, textStatus, errorThrown) {
                    console.log("Image upload failed:", textStatus, errorThrown);
                }
            });
        }
    }

    // Function to handle video upload
    function uploadVideos(files) {
        for (let i = 0; i < files.length; i++) {
            let file = files[i];

            // Check if filename is valid (only alphanumeric, underscores, dots, and dashes)
            if (!validateFilename(file.name)) {
                Swal.fire({ text: 'Invalid filename: Only alphanumeric characters, underscores, dots, and dashes are allowed.',  });
                console.log("Invalid filename:", file.name);
                continue; // Skip uploading this file
            }

            // Check file/video size (max 5MB)
            if (file.size > 5 * 1024 * 1024) {
               Swal.fire({ text: "File size exceeds 5MB limit."});
                console.log("File size exceeds 5MB limit:", file.name);
                continue; // Skip uploading this file
            }

            let data = new FormData();
            data.append("video-file", file);

            $.ajax({
                url: 'addMedia/',  // Check this URL path
                cache: false,
                contentType: false,
                processData: false,
                data: data,
                type: "POST",
                success: function (response) {
                    if (response.result === 'success') {
                        let videoNode = $('<video controls>').attr('src', response.data.file_urls[0]).css('width', '50%'); // Set initial width to 50%
                        $('.js-summernote').summernote('insertNode', videoNode[0]);
                        // Manage multiple URLs in localStorage
                        var uploadedVideoURLs = JSON.parse(localStorage.getItem('uploadedVideoURLs')) || [];
                        response.data.file_urls.forEach(url => {
                            uploadedVideoURLs.push(url);
                        });
                        localStorage.setItem('uploadedVideoURLs', JSON.stringify(uploadedVideoURLs));

                        videoNode.on('click', function () {
                        focusedVideoElement = this; // Update global variable with focused video element
                        $(this).focus(); // Set focus on the clicked video
                    });

                }else {
                        console.log("Video upload failed");
                    }
                },
                error: function (xhr, textStatus, errorThrown) {
                    console.log("Video upload failed:", textStatus, errorThrown);
                }
            });
        }
    }



    // Function to save Summernote data via AJAX
    function saveSummernoteData() {
        var content = $('#saveToLocal').summernote("code");
        var title = $('#title').val();
        var is_free = $('#markAsFree').is(':checked') ? 1 : 0;
            lock = true;
            var data_to_save = {
        'content': content,
        'title': title,
        'is_free': is_free,
        'client_id': client_id
          };

        if (mode == "edit") {
            var Chapter = JSON.parse('{{ edit_chapter|escapejs }}');
            data_to_save['id'] = Chapter.id;
            data_to_save['unique_id'] = Chapter.unique_id;
            data_to_save['mode']='edit';
        }

        initProgressBar();

        $.ajax({
            type: 'POST',
            url: '/pharma_gyan/editor/upsertChapter/',
            data: JSON.stringify(data_to_save),
            contentType: 'application/json',
            dataType: 'json',
            success: function (response) {
                lock=false;
                uniqueId = response['data']['unique_id']
                id = response['data']['id'];
                
                $("#progress-bar").css({"width":"100%"});
                $("#success-div").show();
                if(mode == "edit"){
                    $("#success-text").html("Chapter edited Successfully");
                }else{
                    $("#success-text").html("Chapter added Successfully");
                }
                $("#main-form-div").hide();
                localStorage.removeItem('markAsFree');
                localStorage.removeItem('Chapter_title');
                localStorage.removeItem('summernoteData');
                localStorage.removeItem('uploadedImageURLs');
                localStorage.removeItem('uploadedVideoURLs');

                $("#action-buttons").html(`
                <button onclick="redirectToAddChapter()" class="btn-outline-success btn-sm mr-1">Add Another Chapter</button>
<!--                <button onclick="redirectToPreviewChapter('${id}')" class="btn-outline-success btn-sm mr-1">Preview Chapter</button>-->
            `);

                return;

            },
            error: function (xhr, textStatus, errorThrown) {
                var result = xhr['responseJSON'];
                console.log(result);
                lock = false;
                $("#err-div").html('<div id="err-info" class="alert alert-danger"><button type="button" class="close" data-dismiss="alert">×</button><strong>Error!</strong> <span id="err-text">'+result['details_message']+'</span></div>');
                $("#err-div").show();
                $("#progress-bar-div").hide();
                return;
            }
        });
        // removeFromLocal();
        
    }

    // Validate filename (only alphanumeric, underscores, dots, and dashes allowed)
    function validateFilename(filename) {
        return /^[a-zA-Z0-9_.-]*$/.test(filename);
    }

    function redirectToAddChapter(){
        window.location='#addChapter/';
    }

    function redirectToPreviewChapter(id){
        // window.location='#previewChapterContent/'+uniqueId;
        const data = {
            id:id
            }
            $.ajax({
                type : 'POST',
                url : 'previewChapterContent/',
                contentType: 'application/json',
                data: JSON.stringify(data),
                success :function(response)
                {
                    console.log('Success', response);

                    return $('#success-div').html(response);
                }
                ,
                    error: function(error) {
                        console.error('Error:', error);
                    }}
                );
    }

    function initProgressBar() {
            document.getElementById("progress-bar").style.width = '20%';
            $("#progress-bar-div").show();

        } 
    function loadFromLocal() {
            var summernoteContent = localStorage.getItem('summernoteData');
            var chapterTitle = localStorage.getItem('Chapter_title');
            var markAsFree = localStorage.getItem('markAsFree'); // Retrieve checkbox state

            if (summernoteContent) {
                $('#saveToLocal').summernote('code', JSON.parse(summernoteContent));
            }
            if (chapterTitle) {
                $('#title').val(JSON.parse(chapterTitle));
            }
            if (markAsFree !== null) { // Set the checkbox state
                $('#markAsFree').prop('checked', JSON.parse(markAsFree));
            }
        }

    function onCookiesReady(callback) {
        var checkInterval = setInterval(function() {
            if (typeof Cookies !== 'undefined') {
                clearInterval(checkInterval);
                callback();
            }
        }, 100); // Check every 100 milliseconds
    }

    onCookiesReady(function ()
    {
        client_id = Cookies.get('client_id');
        // Listen for changes in the title input field
        $('#title').on('input', function() {
            // saveToLocal();
            debouncedSaveToLocal();
        });

        // Listen for changes in the markAsFree checkbox
        $('#markAsFree').on('change', function() {
            // saveToLocal();
            debouncedSaveToLocal();
        });
        // Custom video button
        var videoButton = function (context) {
            var ui = $.summernote.ui;

            // create button
            var button = ui.button({
                contents: '<i class="note-icon-video"/>',
                tooltip: 'Upload Video',
                click: function () {
                    var fileInput = $('<input type="file" accept="video/*" multiple>');
                    fileInput.trigger('click');

                    fileInput.on('change', function () {
                        var files = this.files;
                        uploadVideos(files);
                    });
                }
            });

            return button.render();   // return button as jquery object
        };

        // Custom image button
        var imageButton = function (context) {
            var ui = $.summernote.ui;

            // create button
            var button = ui.button({
                contents: '<i class="note-icon-picture"/>',
                tooltip: 'Upload Image',
                click: function () {
                    var fileInput = $('<input type="file" accept="image/*" multiple>');
                    fileInput.trigger('click');

                    fileInput.on('change', function () {
                        var files = this.files;
                        uploadImages(files);
                    });
                }
            });

            return button.render();   // return button as jquery object
        };
        var deleteButton = function (context) {
        var ui = $.summernote.ui;

        // create button
        var button = ui.button({
            contents: '<i class="note-icon-trash"></i>',
            tooltip: 'Delete Video',
            click: function () {
                deleteFocusedVideoElement();

                }}
        );

        return button.render();   // return button as jquery object
        };
        function deleteFocusedVideoElement() {
            if (focusedVideoElement && focusedVideoElement.tagName === 'VIDEO') {
                $(focusedVideoElement).remove(); // Remove the video element from the DOM
                focusedVideoElement = null; // Clear the global variable
                    }
                }
                // Add event listener to set the focusedVideoElement when a video is clicked
                $(document).on('click', 'video', function() {
                    focusedVideoElement = this; // Update the global variable with the clicked video element
                });
        var resizeVideoButton = function (context) {
            var ui = $.summernote.ui;

            var button = ui.buttonGroup([
                ui.button({
                    className: 'dropdown-toggle',
                    contents: 'Actions<span class="note-icon"></span>',
                    tooltip: 'Actions on Video',
                    data: {
                        toggle: 'dropdown'
                    }
                }),
                ui.dropdown({
                    className: 'dropdown-video-resize',
                    contents: '<li><a href="javascript:;" data-size="0.2">25% Size</a></li>' +
                        '<li><a href="javascript:;" data-size="0.5">50% Size</a></li>' +
                        '<li><a href="javascript:;" data-size="1.0">100% Size</a></li>' +
                        '<li><a href="javascript:;" data-size="original">Original Size</a></li>' +
                        '<li><a href="javascript:;" data-float="right">Float Right</a></li>'+
                        '<li><a href="javascript:;" data-float="left">Float Left </a></li>',
                    callback: function (items) {
                        $(items).find('li a').each(function () {
                            $(this).click(function (e) {
                                var size = $(this).data('size');
                                var float = $(this).data('float');
                                if (focusedVideoElement) {
                                    if (size) {
                                        if (size === 'original') {
                                            $(focusedVideoElement).css('width', '');
                                        } else {
                                            $(focusedVideoElement).css('width', (size * 100) + '%');
                                        }
                                    }
                                    if (float === 'right') {
                                        $(focusedVideoElement).css('float', 'right');
                                    }
                                    if (float === 'left') {
                                        $(focusedVideoElement).css('float', 'left');
                                    }
                                }
                                e.preventDefault();
                            });
                        });
                    }
                })
            ]);

            return button.render();
        };

        if (!$('.js-summernote').data('summernote')) {
            $('.js-summernote').summernote({
                disableDragAndDrop:true,
                height: 500,
                tabsize: 2,
                placeholder: "Type here...",
                dialogsFade: true,
                toolbar: [
                    ['style', ['style']],
                    ['font', ['strikethrough', 'superscript', 'subscript']],
                    ['font', ['bold', 'italic', 'underline', 'clear']],
                    ['fontsize', ['fontsize']],
                    ['fontname', ['fontname']],
                    ['color', ['color']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['height', ['height']],
                    ['table', ['table']],
                    ['insert', ['customImage']],
                    ['mybutton', ['videoUpload','resizeVideo','deleteVideo']],
                    ['view', ['fullscreen', 'codeview', 'help']],

                ],
                buttons: {
                    videoUpload: videoButton,
                    customImage: imageButton,
                    deleteVideo: deleteButton,
                    resizeVideo: resizeVideoButton
                },
                callbacks: {
                    onImageUpload: function (files) {
                        uploadImages(files);
                    },
                    onChange: function (contents, $editable) {
                        // saveToLocal();
                        debouncedSaveToLocal();
                        clearInterval(interval);
                        timer();
                    }
                },
                onInit: function(e)
                        {
                            $('.js-summernote').summernote("code", localStorage.getItem("summernoteData"));
                        },
            });
        }
          if (mode == "clone") {
        // var Chapter = JSON.parse('{{ clone_chapter|escapejs }}');
        // setCloneMode(Chapter);
         setMode() 

    } 
    else if(mode=='edit')
    {
            setMode();
        
    }
    else{
         loadFromLocal();
    }
       
   
    })
;

function setMode() {
    var localData = localStorage.getItem('summernoteData');
    var chapterTitle = localStorage.getItem('Chapter_title');
    var markAsFree = localStorage.getItem('markAsFree');
    if(mode=='clone'){var Chapter = JSON.parse('{{ clone_chapter|escapejs }}');}
   else{ var Chapter = JSON.parse('{{ edit_chapter|escapejs }}');}

    if (localData) 
    {
        $('#saveToLocal').summernote('code', JSON.parse(localData));
    }
    else 
    {
         $('#saveToLocal').summernote('code', Chapter["content"]); 
    }
    if (chapterTitle) 
    {
        $('#title').val(JSON.parse(chapterTitle));
    }
    else{
        $("#title").val(Chapter["title"]);
    }
    if (markAsFree !== null) 
    { 
      $('#markAsFree').prop('checked', JSON.parse(markAsFree));
    }
    else{
        var is_free = Chapter["mark_as_free"];
        $('#markAsFree').prop('checked', is_free);
    }
    

        
}



</script>

