<link rel="stylesheet" media="screen, print" href="/static/pharma_gyan/css/summernote.css">

<div id="main-form-div">
    <div class="row">
        <div class="col-xl-12">
             <div class="row">
	<div class="col-xl-12">
		<div id="panel-1" class="panel">
			<div class="panel-hdr">
				<h2>
					Enter the Chapter Content here
				</h2>
				<div class="panel-toolbar">
					<button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"></button>
					<button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"></button>
					<button class="btn btn-panel" data-action="panel-close" data-toggle="tooltip" data-offset="0,10" data-original-title="Close"></button>
				</div>
			</div>
			<div class="panel-container show">
				<div class="panel-content">
					<div class="js-summernote" id="saveToLocal"></div>
					<div class="mt-3">
						<button class="btn  btn-small btn-success" onclick="saveSummernoteData()" >Save</button>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>
</div>


</div>
</div>
	<script src="/static/pharma_gyan/js/summernote.js"></script>

<script>
    var interval;

    // Save to local storage
    var saveToLocal = function() {
        localStorage.setItem('summernoteData', $('#saveToLocal').summernote("code"));
        console.log("Saved to local storage");
    };

    // Remove from local storage
    var removeFromLocal = function() {
        localStorage.removeItem("summernoteData");
        $('#saveToLocal').summernote('reset');
        console.log("Removed from local storage");
    };

    // Timer function for auto-save
    var timer = function() {
        interval = setInterval(function() {
            saveToLocal();
            clearInterval(interval);
        }, 3000);
    };

    // Function to handle image upload
    function uploadImage(file) {
        let data = new FormData();
        data.append("image-file", file);

	$.ajax({
		url: 'addMedia/',  // Check this URL path
		cache: false,
		contentType: false,
		processData: false,
		data: data,
		type: "POST",
		success: function(response) {
			console.log("Image upload successful:", response);
			if (response.result === 'success') {
				let imgNode = $('<img>').attr('src', response.data.file_url);
				$('.js-summernote').summernote('insertNode', imgNode[0]);
				localStorage.setItem('uploadedImageURL', response.data.file_url);
			} else {
				console.log("Image upload failed");
			}
		},
		error: function(xhr, textStatus, errorThrown) {
			console.log("Image upload failed:", textStatus, errorThrown);
		}
	});
    }


    // Function to save Summernote data via AJAX
    function saveSummernoteData() {
        var data = $('#saveToLocal').summernote("code");
        $.ajax({
            type: 'POST',
            url: 'saveSummernote/',
            data: {'data': data},
            success: function() {
                console.log("Save Success");
            },
            error: function() {
                console.log("Save Failed");
            }
        });
    }

  		$(document).ready(function () {
        // Initialize Summernote
        $('.js-summernote').summernote({
            height: 500,
            tabsize: 2,
            placeholder: "Type here...",
            dialogsFade: true,
            toolbar: [
                ['style', ['style']],
                ['font', ['strikethrough', 'superscript', 'subscript']],
                ['font', ['bold', 'italic', 'underline', 'clear']],
                ['fontsize', ['fontsize']],
                ['fontname', ['fontname']],
                ['color', ['color']],
                ['para', ['ul', 'ol', 'paragraph']],
                ['height', ['height']],
                ['table', ['table']],
                ['insert', [ 'link','picture','video']],
                ['view', ['fullscreen', 'codeview', 'help']]
            ],
            callbacks: {
                onImageUpload: function(files) {
                    for (let i = 0; i < files.length; i++) {
                        uploadImage(files[i]);
                    }
                },
                onInit: function(e) {
                    $('.js-summernote').summernote("code", localStorage.getItem("summernoteData"));
                },
                onChange: function(contents, $editable) {
                    clearInterval(interval);
                    timer();
                }
            }
        });




        // Load emojis
        $.ajax({
            url: 'https://api.github.com/emojis',
            async: false
        }).then(function(data) {
            window.emojis = Object.keys(data);
            window.emojiUrls = data;
        });

        // Initialize emoji example
        $(".js-hint2emoji").summernote({
            height: 100,
            toolbar: false,
            placeholder: 'type starting with : and any alphabet',
            hint: {
                match: /:([\-+\w]+)$/,
                search: function(keyword, callback) {
                    callback($.grep(emojis, function(item) {
                        return item.indexOf(keyword) === 0;
                    }));
                },
                template: function(item) {
                    var content = emojiUrls[item];
                    return '<img src="' + content + '" width="20" /> :' + item + ':';
                },
                content: function(item) {
                    var url = emojiUrls[item];
                    if (url) {
                        return $('<img />').attr('src', url).css('width', 20)[0];
                    }
                    return '';
                }
            }
        });

        // Initialize mentions example
        $(".js-hint2mention").summernote({
            height: 100,
            toolbar: false,
            placeholder: "type starting with @",
            hint: {
                mentions: ['jayden', 'sam', 'alvin', 'david'],
                match: /\B@(\w*)$/,
                search: function(keyword, callback) {
                    callback($.grep(this.mentions, function(item) {
                        return item.indexOf(keyword) == 0;
                    }));
                },
                content: function(item) {
                    return '@' + item;
                }
            }
        });
    });
</script>

